# OS specific
.DS_Store

# Sublime
*.sublime-project
*.sublime-workspace

# Modules
/components
/node_modules
/resources
/tmp
/src/soulsifter/build
/libraries

# grunt-node-webkit-builder
/build
/cache
