<!DOCTYPE html>
<html>
<head>
  <title>Soul Sifter</title>
  <script src="../bower_components/platform/platform.js"></script>
  <link href="../bower_components/polymer/polymer.html" rel="import">
  <link href="../bower_components/core-drawer-panel/core-drawer-panel.html" rel="import">
  <link href="../css/roboto.css" rel="stylesheet">
  <style>
    body {
      font-family: Roboto;
    }
  </style>
</head>
<body>
  <core-drawer-panel>
    <section drawer layout vertical>
      <h1>SoulSifter</h1>
    </section>
    <section main>
      <p>Music organization tool for DJs</p>
    </section>
  </core-drawer-panel>
  <script>
    var addon = require('../addon/build/Release/addon');
    var obj = new addon.MyObject(10);
    console.log( obj.plusOne() ); // 11
    console.log( obj.plusOne() ); // 12
    console.log( obj.plusOne() ); // 13

    var ss = require('../soulsifter/build/Release/soulsifter');
    var bg = ss.createObject(5);
    console.log(bg);
    console.log(bg.getId());
    console.log(bg.getName());
    var bg2 = ss.BasicGenre.create(5);
    console.log(bg2);
  </script>
</body>
</html>
