<!DOCTYPE html>
<html>
<head>
<title>Soul Sifter</title>
<script src="../components/platform/platform.js" log="bind,data,watch,events,ready"></script>
<link href="../components/soul-sifter/soul-sifter.html" rel="import">
<style>
  body {
    margin: 0;
  }
  /* because the paper-dialog gets pushed out here, we cannot style it the same way */
  body /deep/ #searchInfoDialog {
    background-color: rgba(0,0,0,0.75);
    border-radius: 10px;
    color: inherit;
  }
</style>
</head>
<body>

<script>
  var gui = require('nw.gui');

  // create osx menu bar defaults
  var mb = new gui.Menu({type:"menubar"});
  mb.createMacBuiltin("Soul Sifter");
  gui.Window.get().menu = mb;
</script>

<script>
  var ss = require('../soulsifter/build/Release/soulsifter');
</script>

<soul-sifter></soul-sifter>

</body>
</html>
