:host {
  margin: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


#layout {
  height: 100%;
  @apply(--layout-vertical --layout-center --layout-center-justified);
}
#actions {
  width: 100%;
}
#abstractActions {
  @apply(--layout-horizontal --layout-end-justified);
}
