<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../paper-button/paper-button.html" rel="import">

<link href="themes.html" rel="import">


<dom-module id="abstract-action-page">
  <link href="abstract-action-page.css" rel="import" type="css">
  <template>
    <div id="layout">
      <content></content>
      <div id="abstractActions">
        <paper-button affirmative on-click="{{exit}}">Cancel</paper-button>
        <paper-button affirmative autofocus on-click="{{accept}}">Accept</paper-button>
      </div>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'abstract-action-page',

    setAcceptAction: function(a) {
      this.acceptAction = a;
    },

    accept: function(e, detail, sender) {
      this.acceptAction.call(this.parentNode.host);
      this.exit();
    },

    exit: function(e, detail, sender) {
      this.asyncFire('page-main');
    },
    
  });
</script>
