<link href="../polymer/polymer.html" rel="import">

<link href="../iron-collapse/iron-collapse.html" rel="import">
<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../paper-icon-button/paper-icon-button.html" rel="import">
<link href="../paper-material/paper-material.html" rel="import">
<link href="../paper-ripple/paper-ripple.html" rel="import">


<dom-module id="genre-list-item">
  <style is="custom-style">
    paper-ripple {
      color: var(--ss-genre-list-item-ripple-color);
    }
    paper-icon-button {
      transform: scale(.6);
    }

    iron-collapse {
      margin-top: -7px;
      margin-bottom: -7px;
    }

    #itemContainer {
      margin: 7px 20px 0 20px;
      height: 30px;
    }
    #item {
      height: 30px;
      @apply(--layout-horizontal);
      @apply(--layout-center);
    }

    .flex {
      @apply(--layout-flex);
    }

    .selected {
      background-color: var(--ss-genre-list-item-select-color);
    }
  </style>
  <template>
    <div id="itemContainer">
      <paper-material class$="[[_computeSelectedClass(isSelected)]]" style$="[[_computePaddingLeftStyle(indent)]]" on-tap="_toggleSelect" id="item" elevation="0">
        <paper-ripple></paper-ripple>
        <paper-icon-button icon="[[icon]]" on-tap="_toggleExpansion"></paper-icon-button>
        <div class="flex">[[genre.name]]</div>
      </paper-material>
    </div>
    <iron-collapse id="collapse" opened="{{opened}}">
      <template is="dom-repeat" items="[[_getSubGenres(genre)]]" id="subGenreTpl">
        <genre-list-item genre="[[item]]" indent="[[_incIndent(indent)]]" on-expand-parents="expand"></genre-list-item>
      </template>
    </iron-collapse>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'genre-list-item',

    properties: {
      genre: Object,
      indent: {
        type: Number,
        value: 0
      },
      isSelected: {
        type: Boolean,
        value: false
      },
      opened: {
        type: Boolean,
        value: false
      }
    },

    _getSubGenres: function(genre) {
      return genre.children;
    },

    /** @event genre-select */

    select: function(isSelected) {
      if ((isSelected && !this.isSelected) ||
          (!isSelected && this.isSelected)) {
        this.isSelected = !this.isSelected;
        this._signalGenreToggle();
      }
      if (this.genre.subGenre && this.genre.subGenre.length > 0) {
        for (var i = 0, childNodes = Polymer.dom(this.$.collapse).childNodes;
             i < childNodes.length; ++i) {
          if (childNodes[i].nodeName === 'GENRE-LIST-ITEM') {
            childNodes[i].select(isSelected);
          }
        }
      }
    },

    selectIffInArray: function(genres) {
      if (!genres) return;
      // select this and request parents to expand if found in array
      var selected = false;
      for (var i = 0; i < genres.length; ++i) {
        if (genres[i].id === this.genre.id) {
          selected = true;
          this.fire('expand-parents');
        }
      }
      this.opened = false;
      this.isSelected = selected;
      // have all child elements check if they're in the array
      for (var i = 0, childNodes = Polymer.dom(this.$.collapse).querySelectorAll('genre-list-item');
           i < childNodes.length; ++i) {
        childNodes[i].selectIffInArray(genres);
      }
    },

    expand: function() {
      this.opened = true;
      this.fire('expand-parents');
    },

    ready: function() {
      var children = this.genre.children;
      if (children.length > 0) {
        this.genre.subGenre = children;
      }
      if (this.genre.subGenre) {
        this.icon = 'expand-more';
      } else {
        this.icon = 'invis';
      }
    },

    _toggleSelect: function(e, detail, sender) {
      this.select(!this.isSelected);
    },

    _toggleExpansion: function(e, detail, sender) {
      if (!this.genre.subGenre || this.genre.subGenre.length <= 0) return;
      this.$.collapse.toggle();
      this.icon = this.opened ? 'expand-less' : 'expand-more';
      e.stopPropagation();  // TODO remove
    },

    _signalGenreToggle: function() {
      this.fire('genre-select', {genre: this.genre});
    },

    _incIndent: function(indent) {
      return indent + 20;
    },

    _computeSelectedClass: function(isSelected) {
      return isSelected ? "selected" : "";
    },

    _computePaddingLeftStyle: function(indent) {
      return 'padding-left: ' + indent + 'px;';
    },
  });
</script>
