<link href="../polymer/polymer.html" rel="import">

<link href="genre-list-item.html" rel="import">


<dom-module id="genre-list">
  <style is="custom-style">
  </style>
  <template>
    <template is="dom-repeat" items="[[genreParents]]">
      <genre-list-item genre="[[item]]" on-genre-select="_selectGenre" single-select="[[singleSelect]]"></genre-list-item>
    </template>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'genre-list',

    properties: {
      genreParents: {
        type: Array,
        value: function() { return ss.Style.findAllParents().sort(this._compareGenres); }
      },
      selection: {
        type: Array,
        value: function() { return []; },
        notify: true,
        observer: '_selectionChanged'
      },
      singleSelect: {
        type: Boolean,
        value: false,
      },
    },

    _selectionChanged: function(genres) {
      for (var i = 0, childNodes = Polymer.dom(this.root).querySelectorAll('genre-list-item');
           i < childNodes.length; ++i) {
        childNodes[i].selectIffInArray(genres);
      }
    },

    _selectGenre: function(e, detail) {
      for (var i = 0; i < this.selection.length; ++i) {
        if (this.selection[i].id == detail.genre.id) {
          this.splice('selection', i, 1);
          return;
        }
      }
      var g = new ss.Style(detail.genre);
      this.push('selection', g);
    },
    
    _compareGenres: function(a, b) {
      return a.name.localeCompare(b.name);
    },
  });
</script>
