<link href="../polymer/polymer.html" rel="import">

<link href="../iron-collapse/iron-collapse.html" rel="import">
<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../paper-icon-button/paper-icon-button.html" rel="import">
<link href="../paper-ripple/paper-ripple.html" rel="import">
<link href="../paper-shadow/paper-shadow.html" rel="import">

<link href="themes.html" rel="import">


<dom-module id="genre-list-item">
  <link href="genre-list-item.css" rel="import" type="css">
  <template>
    <div id="itemContainer">
      <paper-shadow animated id="shadow" z="0">
        <div class$="{{computeIsSelected(isSelected)}}" style$="{{computePaddingLeftStyle(indent)}}" on-tap="{{selectTapAction}}" id="item">
          <paper-ripple fit></paper-ripple>
          <paper-icon-button icon="{{icon}}" on-tap="{{expandTapAction}}"></paper-icon-button>
          <div class="flex">{{genre.name}}</div>
        </div>
      </paper-shadow>
    </div>
    <iron-collapse id="collapse">
      <template is="dom-repeat" items="{{genre.subGenre}}" id="subGenreTpl">
        <genre-list-item genre="{{item}}" indent="{{incIndent(indent)}}" on-expand-parents="{{expand}}"></genre-list-item>
      </template>
      <!-- <array-selector multi items="{{genre.subGenre}}" on-iron-select="{{selectGenreAction}}" id="selection"></array-selector> -->
    </iron-collapse>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'genre-list-item',

    properties: {
      genre: Object,
      indent: {
        type: Number,
        value: 0
      }
    },

    /** @event genre-select */

    /** @attribute selected */
    isSelected: false,

    /** @method select */
    select: function(isSelected) {
      if ((isSelected && !this.$.selection.isSelected(this)) ||
          (!isSelected && this.$.selection.isSelected(this))) {
        this.$.selection.toggle(this);
      }
      if (this.genre.subGenre && this.genre.subGenre.length > 0) {
        for (var i = 0, item = this.$.subGenreTpl.nextElementSibling;
            item && i < this.genre.subGenre.length;
            item = item.nextElementSibling, ++i) {
          item.select(isSelected);
        }
      }
    },

    /** @method selectIfInArray */
    selectIfInArray: function(genres) {
      // deselect to set clean slate
      this.$.collapse.opened = false;
      if (this.$.selection.isSelected(this)) {
        this.$.selection.toggle(this);
      }
      // select this and request parents to expand if found in array
      for (var i = 0; i < genres.length; ++i) {
        if (genres[i].id == this.genre.id) {
          this.$.selection.toggle(this);
          this.asyncFire('expand-parents');
        }
      }
      // have all child elements check if they're in the array
      if (this.genre.subGenre && this.genre.subGenre.length > 0) {
        for (var i = 0, item = this.$.subGenreTpl.nextElementSibling;
            item && i < this.genre.subGenre.length;
            item = item.nextElementSibling, ++i) {
          item.selectIfInArray(genres);
        }
      }
    },

    expand: function() {
      this.$.collapse.opened = true;
    },

    ready: function() {
      var children = this.genre.children;
      if (children.length > 0) {
        this.genre.subGenre = children;
      }
      if (this.genre.subGenre) {
        this.icon = 'expand-more';
      } else {
        this.icon = 'invis';
      }
    },

    selectTapAction: function(e, detail, sender) {
      this.select(!this.$.selection.isSelected(this));
    },

    expandTapAction: function(e, detail, sender) {
      if (!this.genre.subGenre || this.genre.subGenre.length <= 0) return;
      this.$.collapse.toggle();
      this.icon = this.$.collapse.opened ? 'expand-less' : 'expand-more';
      e.stopPropagation();
    },

    selectGenreAction: function(e, detail, sender) {
      this.$.shadow.setZ(detail.isSelected ? 1 : 0);
      this.isSelected = detail.isSelected;
      this.asyncFire('genre-select', this.genre);
    },
  });

  computePaddingLeftStyle(indent) {
    return 'padding-left: ' + indent + 'px;';
  }

  incIndent(indent) {
    return indent + 20;
  }

  computeIsSelected(isSelected) {
    return isSelected ? "selected" : "";
  }
</script>
