<link href="../polymer/polymer.html" rel="import">

<link href="genre-list-item.html" rel="import">


<dom-module id="genre-list">
  <style is="custom-style">
  </style>
  <template>
    <template is="dom-repeat" items="[[genreParents]]">
      <genre-list-item genre="[[item]]" on-genre-select="_selectGenre" single-select="[[singleSelect]]"></genre-list-item>
    </template>
    <array-selector id="selector" items="[[allGenres]]" selected="{{selection}}" multi toggle></array-selector>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'genre-list',

    properties: {
      genreParents: {
        type: Array,
        value: function() { return ss.Style.findAllParents(); }
      },
      allGenres: {
        type: Array,
        value: function() { return ss.Style.findAll(); },
        readOnly: true
      },
      selection: {
        type: Array,
        notify: true,
        observer: '_selectionChanged'
      },
      singleSelect: {
        type: Boolean,
        value: false,
      },
    },

    _selectionChanged: function(genres) {
      for (var i = 0, childNodes = Polymer.dom(this.root).querySelectorAll('genre-list-item');
           i < childNodes.length; ++i) {
        childNodes[i].selectIffInArray(genres);
      }
    },

    _selectGenre: function(e, detail) {
      this.$.selector.select(detail.genre);
    },
    
  });
</script>
