<link href="../polymer/polymer.html" rel="import">

<link href="../paper-slider/paper-slider.html" rel="import">

<link href="ss-global-behavior.html" rel="import">


<dom-module id="pitch-slider">
  <style is="custom-style">
    paper-slider::shadow paper-input::shadow paper-input-decorator {
      padding: 0 0 2px 0;
    }
    paper-slider::shadow paper-input::shadow input[is="core-input"] {
      margin: 0.25em 0;
    }
    paper-slider::shadow #sliderContainer {
      margin: 0;
    }
  </style>
  <template>
    <paper-slider editable pin value="{{pitch}}" step="0.1" min="{{pitchPctMin}}" max="{{pitchPctMax}}"></paper-slider>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'pitch-slider',

    behaviors: [
      GlobalBehavior
    ],

    properties: {
      pitch: {
        type: Number,
        value: 0,
        observer: '_pitchChanged'
      },
      pitchPctMax: {
        type: Number,
        value: 8
      },
      pitchPctMin: {
        type: Number,
        value: -8
      }
    },

    observers: [
      '_globalBpmChanged(global.bpm)',
      '_globalSongChanged(global.song)'
    ],

    _globalSongChanged: function(song) {
      if (!song || !song.bpm) return;
      if (this.global.bpm == 0) {
        this.set('global.bpm', parseFloat(song.bpm).toFixed(1));
      } else {
        var pitch = this.global.bpm / song.bpm;
        pitch = (pitch - 1) * 100;
        if (pitch > this.pitchPctMax) pitch = this.pitchPctMax;
        if (pitch < this.pitchPctMin) pitch = this.pitchPctMin;
        this.pitch = pitch;
      }
    },

    _globalBpmChanged: function(bpm) {
      if (this.global.song && this.global.song.bpm)
        this.pitch = (this.global.bpm - this.global.song.bpm) / this.global.song.bpm * 100;
    },

    _pitchChanged: function(newValue, oldValue) {
      if (this.global && this.global.song && this.global.song.bpm)
        this.set('global.bpm', (this.global.song.bpm * (this.pitch/100) + this.global.song.bpm * 1).toFixed(1));
    },
  });
</script>
