<link href="../polymer/polymer.html" rel="import">

<link href="../core-style/core-style.html" rel="import">
<link href="../paper-slider/paper-slider.html" rel="import">

<link href="global-state.html" rel="import">
<link href="themes.html" rel="import">


<polymer-element name="pitch-slider" attributes="pitch pitchPctMax">

  <template>
    <link href="pitch-slider.css" rel="stylesheet">
    <core-style ref="main"></core-style>

    <global-state values="{{global}}"></global-state>

    <paper-slider editable pin value="{{pitch}}" step="0.1" min="{{-pitchPctMax}}" max="{{pitchPctMax}}"></paper-slider>
  </template>

  <script>
    Polymer('pitch-slider', {

      // hints
      pitch: 0,
      pitchPctMax: 8,

      observe: {
        'global.bpm': 'globalBpmChanged',
        'global.song': 'globalSongChanged'
      },

      globalSongChanged: function(oldSong, song) {
        if (!song || !song.bpm) return;
        if (this.global.bpm == 0) {
          this.global.bpm = parseFloat(song.bpm).toFixed(1);
        } else {
          var pitch = this.global.bpm / song.bpm;
          pitch = (pitch - 1) * 100;
          if (pitch > this.pitchPctMax) pitch = this.pitchPctMax;
          if (pitch < -this.pitchPctMax) pitch = -this.pitchPctMax;
          this.pitch = pitch;
        }
      },

      globalBpmChanged: function(oldBpm, bpm) {
        if (this.global.song && this.global.song.bpm)
          this.pitch = (this.global.bpm - this.global.song.bpm) / this.global.song.bpm * 100;
      },

      pitchChanged: function(oldValue, newValue) {
        if (this.global.song && this.global.song.bpm)
          this.global.bpm = (this.global.song.bpm * (this.pitch/100) + this.global.song.bpm * 1).toFixed(1);
      },
    });
  </script>
</polymer-element>