<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../iron-icon/iron-icon.html" rel="import">
<link href="../paper-icon-button/paper-icon-button.html" rel="import">
<link href="../paper-menu/paper-menu.html" rel="import">
<link href="../paper-ripple/paper-ripple.html" rel="import">
<link href="../paper-material/paper-material.html" rel="import">

<link href="ss-googleplaymusic.html" rel="import">


<dom-module id="playlist-list-item">
  <style is="custom-style">
    :host[selected] #itemContainer {
      background-color: var(--ss-playlist-list-item-selected-background-color);
    }

    #itemContainer {
      border-radius: 2px;
      margin: 7px 20px;
      height: 30px;
    }
    #item {
      height: 30px;
      padding-left: 40px;
      @apply(--layout-horizontal);
      @apply(--layout-center);
    }
    #item iron-icon {
      display: none;
      vertical-align: top;
      --iron-icon-height: 16px;
      --iron-icon-width: 16px;
    }
    #item iron-icon.smart {
      display: block;
    }

    #item paper-icon-button paper-icon-button {
      margin-top: 4px;
      padding: 0;
    }

    .content {
      @apply(--layout-flex);
      @apply(--layout-horizontal);
    }

    /* menu */
    #btn {
      display: none;
      vertical-align: top;
      --iron-icon-height: 16px;
      --iron-icon-width: 16px;
    }
    #menu {
      padding: 15px;
      position: absolute;
      top: 0;
      left: 31px;
      border-radius: 2px;
      display: block;
      opacity: 1;
      transition: opacity 1s;
    }
    #menu.hide {
      display: none;
      opacity: 0;
    }
    #item #btn {
      display: none;
    }
    #item:hover #btn {
      display: block;
    }
    .menuItem {
      margin: 2px;
    }
    div.menuItem:hover {
      background-color: var(--ss-options-button-menu-item-hover-color);
    }
  </style>
  <template>
    <ss-googleplaymusic id="gpm"></ss-googleplaymusic>

    <div id="itemContainer">
      <paper-material animated id="material" elevation="[[_computeElevation(selected)]]">
        <div id="item" on-click="_onClick">
          <paper-ripple fit></paper-ripple>
          <div class="content">
            <span>{{playlist.name}}</span>
            <iron-icon icon="find-replace" alt="smart playlist" class$="[[_isSmart(playlist)]]"></iron-icon>
          </div>
          <paper-icon-button id="btn" icon="more-vert" on-click="_preventDefault"></paper-icon-button>
        </div>
      </paper-material>
      <paper-material id="menu" class="hide" elevation="3">
        <div on-click="_editAction" class="menuItem">
          <div>Edit playlist</div>
          <paper-ripple></paper-ripple>
        </div>
        <div on-click="_deleteAction" class="menuItem">
          <div>Delete playlist</div>
          <paper-ripple></paper-ripple>
        </div>
        <div on-click="_exportAction" class="menuItem">
          <div>Export to Google Play Music</div>
          <paper-ripple></paper-ripple>
        </div>
      </paper-material>
    </div>
  </template>
</dom-module>

<script>
  /** Fires events:
   *      playlist-select
   *      page-playlist-edit
   *      playlists-changed?
   */
  Polymer({
    is: 'playlist-list-item',

    properties: {
      playlist: Object,
      selected: {
        type: Boolean,
        value: false
      }
    },

    attached: function() {
      // open & close menu
      var menu = this.$.menu;
      var btn = this.$.btn;
      document.addEventListener('click', function(event) {
          if (!menu.classList.contains('hide') || btn.contains(event.target)) {
            menu.classList.toggle('hide');
          }
        });
    },

    _onClick: function(e, detail, sender) {
      if (!event.defaultPrevented) {
        this.fire('playlist-select', this);
      }
    },

    _editAction: function(e, detail, sender) {
      e.preventDefault();
      this.fire('page-playlist-edit', {playlist: this.playlist});
    },

    _deleteAction: function(e, detail, sender) {
      e.preventDefault();
      // this.playlist.erase();
      // this.fire('iron-signal', {name: 'playlists-changed'});
    },

    _exportAction: function(e, detail, sender) {
      e.preventDefault();
      // this.$.gpm.savePlaylist(this.playlist, function() {}, function() {});
    },

    _isSmart: function(playlist) {
      return playlist.query ? "smart" : "";
    },

    _preventDefault: function(event) {
      event.preventDefault();
    },

    _computeElevation: function(selected) {
      return selected ? "3" : "0";
    }

  });
</script>
