<link href="../polymer/polymer.html" rel="import">

<link href="../iron-signals/iron-signals.html" rel="import">
<link href="../paper-button/paper-button.html" rel="import">
<link href="../paper-dialog/paper-dialog.html" rel="import">
<link href="../paper-fab/paper-fab.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">

<link href="playlist-list-item.html" rel="import">
<link href="themes.html" rel="import">


<dom-module id="playlist-list">
  <link href="playlist-list.css" rel="import" type="css">
  <template>
    <iron-signals on-iron-signal-playlists-changed="{{updatePlaylists}}"></iron-signals>

    <div id="wrapper">
      <template is="dom-repeat" items="{{playlists}}" id="playlistTpl">
        <playlist-list-item playlist="{{item}}" on-playlist-select="{{selectPlaylist}}"></playlist-list-item>
      </template>
      <array-selector id="selection" on-core-select="{{selectAction}}"></array-selector>
    </div>
    <paper-fab mini icon="add" on-click="{{createPlaylist}}"></paper-fab>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'playlist-list',

    domReady: function() {
      this.updatePlaylists();
    },

    togglePlaylistDialog: function(e, detail, sender) {
      this.$.createPlaylistDialog.toggle();
    },

    createPlaylist: function(e, detail, sender) {
      var playlist = new ss.Playlist();
      this.asyncFire('page-playlist-edit', {playlist: playlist});
    },

    selectPlaylist: function(e, detail, sender) {
      this.$.selection.select(sender);
    },

    selectAction: function(e, detail, sender) {
      // unselect all
      for (var i = 0, item = this.$.playlistTpl.nextElementSibling;
          item && i < this.playlists.length;
          item = item.nextElementSibling, ++i) {
        item.select(false);
      }
      // (de)select the selected
      detail.item.select(detail.isSelected);
      // update the query
      var playlist = detail.item.playlist;
      if (detail.isSelected) {
        if (playlist.query) {
          this.asyncFire('genre-change', playlist.styles);
          this.asyncFire('query-change', playlist.query);
        } else {
          this.asyncFire('iron-signal', {name: 'search', data: {playlist: playlist}});
        }
      }
    },

    updatePlaylists: function(e, detail, sender) {
      this.playlists = ss.Playlist.findAll();
    },
    
  });
</script>
