<link href="../polymer/polymer.html" rel="import">

<link href="../iron-signals/iron-signals.html" rel="import">
<link href="../paper-button/paper-button.html" rel="import">
<link href="../paper-dialog/paper-dialog.html" rel="import">
<link href="../paper-fab/paper-fab.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">

<link href="playlist-list-item.html" rel="import">


<dom-module id="playlist-list">
  <style is="custom-style">
    #wrapper {
      height: 100%;
      overflow-y: scroll;
    }

    paper-fab {
      bottom: 60px;
      position: absolute;
      right: 12px;
    }
  </style>
  <template>
    <iron-signals on-iron-signal-playlists-changed="updatePlaylists"></iron-signals>

    <div id="wrapper">
      <template is="dom-repeat" items="[[playlists]]" id="playlistTpl">
        <playlist-list-item playlist="[[item]]" on-playlist-select="_selectPlaylist" selected$="[[_isSelected(item, selected)]]"></playlist-list-item>
      </template>
    </div>
    <paper-fab mini icon="add" on-click="_createPlaylist"></paper-fab>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'playlist-list',

    properties: {
      selected: Object
    },

    attached: function() {
      // https://www.polymer-project.org/1.0/docs/migration.html#domready
      this.async(function() {
        this.updatePlaylists();
      }.bind(this));
    },

    updatePlaylists: function(e, detail, sender) {
      this.playlists = ss.Playlist.findAll();
    },

    _createPlaylist: function(e, detail, sender) {
      var playlist = new ss.Playlist();
      this.fire('page-playlist-edit', {playlist: playlist});
    },

    _selectPlaylist: function(e, detail, sender) {
      this.selected = (this.selected === e.model.item) ? null : e.model.item;

      // update the query
      // var playlist = detail.item.playlist;
      // if (detail.isSelected) {
      //   if (playlist.query) {
      //     this.fire('genre-change', playlist.styles);
      //     this.fire('query-change', playlist.query);
      //   } else {
      //     this.fire('iron-signal', {name: 'search', data: {playlist: playlist}});
      //   }
      // }
    },

    _isSelected: function(item, selected) {
      return item === selected;
    }
    
  });
</script>
