<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../iron-icon/iron-icon.html" rel="import">
<link href="../paper-dropdown/paper-dropdown.html" rel="import">
<link href="../paper-icon-button/paper-icon-button.html" rel="import">
<link href="../paper-item/paper-item.html" rel="import">
<link href="../paper-menu/paper-menu.html" rel="import">
<link href="../paper-menu-button/paper-menu-button.html" rel="import">
<link href="../paper-ripple/paper-ripple.html" rel="import">
<link href="../paper-shadow/paper-shadow.html" rel="import">

<link href="ss-googleplaymusic.html" rel="import">
<link href="themes.html" rel="import">


<dom-module id="playlist-list-item">
  <style is="custom-style">
    :host {
      font-size: 13px;
    }

    paper-shadow {
      height: 100%;
      width: 100%;
    }

    paper-dropdown {
      top: 18px;
    }

    #itemContainer {
      margin: 7px 20px 7px 20px;
      height: 30px;
    }
    #item {
      @apply(--layout-horizontal --layout-center);
      height: 30px;
      padding-left: 40px;
    }
    #item iron-icon {
      display: none;
      height: 16px;
      width: 16px;
      vertical-align: top;
    }
    #item iron-icon.smart {
      display: inline-block;
    }

    #item paper-menu-button {
      display: none;
    }
    #item:hover paper-menu-button {
      display: inline-block;
    }
    #item paper-menu-button paper-icon-button {
      margin-top: 4px;
      padding: 0;
    }

    .flex {
      @apply(--layout-flex);
    }
  </style>
  <template>
    <ss-googleplaymusic id="gpm"></ss-googleplaymusic>

    <div id="itemContainer">
      <paper-shadow animated id="shadow" z="0">
        <div id="item" class$="{{computeIsSelected(isSelected)}}" on-click="{{clickAction}}">
          <paper-ripple fit></paper-ripple>
          <div class="flex">
            <span>{{playlist.name}}</span>
            <iron-icon icon="find-replace" alt="smart playlist" class$="{{computeIsSmart(playlist)}}"></iron-icon>
          </div>
          <paper-menu-button on-click="{{stopPropagation}}">
            <paper-icon-button icon="more-vert"></paper-icon-button>
            <paper-dropdown class="dropdown" transition="cascade" halign="right">
              <paper-menu>
                <paper-item on-click="{{editAction}}">Edit playlist</paper-item>
                <paper-item on-click="{{deleteAction}}">Delete playlist</paper-item>
                <paper-item on-click="{{exportAction}}">Export to Google Play Music</paper-button>
              </paper-menu>
            </paper-dropdown>
          </paper-menu-button>
        </div>
      </paper-shadow>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'playlist-list-item',

    properties: {
      playlist: Object
    },
    
    /** @event playlist-select */

    /** @attribute playlist */

    /** @attribute selected */
    isSelected: false,

    clickAction: function(e, detail, sender) {
      this.asyncFire('playlist-select', this);
    },

    /** @method select */
    select: function(isSelected) {
      this.$.shadow.setZ(isSelected ? 1 : 0);
      this.isSelected = isSelected;
    },

    editAction: function(e, detail, sender) {
      e.stopPropagation();
      this.asyncFire('page-playlist-edit', {playlist: this.playlist});
    },

    deleteAction: function(e, detail, sender) {
      e.stopPropagation();
      this.playlist.erase();
      this.asyncFire('iron-signal', {name: 'playlists-changed'});
    },

    exportAction: function(e, detail, sender) {
      e.stopPropagation();
      this.$.gpm.savePlaylist(this.playlist, function() {}, function() {});
    },

    stopPropagation: function(e, detail, sender) {
      e.stopPropagation();
    },

  });

  computeIsSelected(isSelected) {
    return isSelected ? "selected" : "";
  }

  computeIsSmart(playlist) {
    return playlist.query ? "smart" : "";
  }
</script>
