:host {
  font-size: 13px;
}

paper-shadow {
  height: 100%;
  width: 100%;
}
core-icon {
}

#itemContainer {
  margin: 7px 20px 7px 20px;
  padding-left: 40px;
  height: 30px;
}
#item {
  height: 30px;
}
