<link href="../polymer/polymer.html" rel="import">

<link href="../core-icon/core-icon.html" rel="import">
<link href="../core-icons/core-icons.html" rel="import">
<link href="../core-style/core-style.html" rel="import">
<link href="../css/roboto.css" rel="stylesheet">
<link href="../paper-ripple/paper-ripple.html" rel="import">
<link href="../paper-shadow/paper-shadow.html" rel="import">

<link href="themes.html" rel="import">


<polymer-element name="playlist-list-item" attributes="playlist">

  <template>
    <link href="playlist-list-item.css" rel="stylesheet">
    <core-style ref="main"></core-style>

    <div horizontal layout center id="item" class="{{ {'selected': isSelected} | tokenList }}">
      <paper-shadow animated z="{{z}}"></paper-shadow>
      <paper-ripple fit></paper-ripple>
      <div flex>
        {{playlist.name}}
        <core-icon icon="find-replace" alt="smart playlist"></core-icon>
      </div>
    </div>
  </template>

  <script>
    Polymer('playlist-list-item', {
      /** @event playlist-select */

      /** @attribute playlist */

      /** @attribute selected */
      isSelected: false,

      z: 0,

    });
  </script>
</polymer-element>