<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../paper-checkbox/paper-checkbox.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">

<link href="abstract-action-page.html" rel="import">
<link href="genre-list.html" rel="import">
<link href="themes.html" rel="import">


<dom-module id="playlist-edit">
  <link href="playlist-edit.css" rel="import" type="css">
  <template>
    <core-style ref="main"></core-style>

    <abstract-action-page id="abstractActionPage">
      <div id="pageContainer">
        <div class="vert">
          <paper-input floatingLabel label="Name" value="{{playlist.name}}"></paper-input>
          <paper-input floatingLabel label="Query" value="{{playlist.query}}"></paper-input>
          <paper-checkbox label="from Song Trail" checked="{{fromSongTrail}}"></paper-checkbox>
        </div>
        <genre-list id="genreList" selection="{{genreSelection}}"></genre-list>
      </div>
    </abstract-action-page>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'playlist-edit',

    properties: {
      playlist: {
        type: Object,
        observer: 'playlistChanged'
      }
    },

    fromSongTrail: false,

    domReady: function() {
      this.$.abstractActionPage.setAcceptAction(this.save);
    },

    playlistChanged: function(newValue, oldValue) {
      this.$.genreList.setSelection(newValue.styles);
    },

    save: function(e, detail, sender) {
      if (this.genreSelection) this.playlist.styles = this.genreSelection;
      if (this.playlist.id) {
        this.playlist.update();
      } else {
        this.playlist.save();
        if (this.fromSongTrail) {
          this.asyncFire('core-signal', {name: 'save-song-trail', data: {playlist: this.playlist} });
        }
      }
      this.asyncFire('core-signal', {name: 'playlists-changed'});
    },

  });
</script>
