<link href="../polymer/polymer.html" rel="import">

<link href="../core-icons/core-icons.html" rel="import">
<link href="../core-selection/core-selection.html" rel="import">
<link href="../core-style/core-style.html" rel="import">
<link href="../paper-button/paper-button.html" rel="import">
<link href="../paper-dialog/paper-dialog.html" rel="import">
<link href="../paper-fab/paper-fab.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">

<link href="playlist-list-item.html" rel="import">
<link href="themes.html" rel="import">


<polymer-element name="playlist-list">

  <template>
    <link href="playlist-list.css" rel="stylesheet">
    <core-style ref="main"></core-style>

    <template repeat="{{p in playlists}}">
      <playlist-list-item playlist="{{p}}" on-playlist-select="{{selectAction}}"></playlist-list-item>
    </template>
    <core-selection multi id="selection"></core-selection>
    <paper-fab mini icon="add" on-click="{{createPlaylist}}"></paper-fab>
  </template>

<script>
    Polymer('playlist-list', {

      domReady: function() {
        this.playlists = ss.Playlist.findAll();
      },

      togglePlaylistDialog: function(e, detail, sender) {
        this.$.createPlaylistDialog.toggle();
      },

      createPlaylist: function(e, detail, sender) {
        var playlist = new ss.Playlist();
        this.asyncFire('page-playlist-edit', {playlist: playlist});
      },
      
    });
  </script>
</polymer-element>