<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../core-field/core-field.html" rel="import">
<link href="../core-icon-button/core-icon-button.html" rel="import">
<link href="../core-icons/core-icons.html" rel="import">
<link href="../core-localstorage/core-localstorage.html" rel="import">
<link href="../core-signals/core-signals.html" rel="import">
<link href="../core-style/core-style.html" rel="import">
<link href="../core-toolbar/core-toolbar.html" rel="import">
<link href="../paper-dialog/paper-dialog.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">
<link href="../paper-toggle-button/paper-toggle-button.html" rel="import">

<!-- <link href="create-song.html" rel="import"> -->
<link href="global-state.html" rel="import">
<link href="search-info.html" rel="import">
<link href="themes.html" rel="import">


<dom-module id="search-toolbar">
  <link href="search-toolbar.css" rel="import" type="css">
  <template>
    <core-style ref="main"></core-style>

    <global-state values="{{global}}"></global-state>
    <core-localstorage name="soul-sifter-music-directory" value="{{musicDir}}"></core-localstorage>

    <core-toolbar class$="{{computeIsTall(isTall)}}">
      <content></content>
      <core-field class="indent flex">
        <core-icon-button icon="search" on-click="{{searchAction}}"></core-icon-button>
        <paper-input id="searchInput" label="search" class="flex" value="{{query}}"></paper-input>
        <core-icon-button icon="info-outline" on-click="{{toggleSearchInfoDialog}}"></core-icon-button>
      </core-field>
      <paper-input label="bpm" floatingLabel value="{{global.bpm}}" id="bpm"></paper-input>
      <core-icon-button icon="add-circle" on-click="{{toggleCreateSongDialog}}" id="createSongButton"></core-icon-button>
      <core-icon-button icon="settings" on-click="{{clickSettingsAction}}"></core-icon-button>
      <core-icon-button icon="unfold-more" on-click="{{toggleIsTall}}"></core-icon-button>
      <!-- middle row -->
      <!-- bottom row -->
      <div class="bottom {{ {hide: !isTall} | tokenList }}">
        <paper-toggle-button checked="{{djSearch}}"></paper-toggle-button>
        DJ Search Mode
      </div>
      <div class="bottom flex {{ {hide: !isTall} | tokenList }}"></div>
      <div class="bottom {{ {hide: !isTall} | tokenList }}">
        <core-icon-button icon="query-builder" on-click="{{analyzeBpms}}"></core-icon-button>
        Analyze BPMs
      </div>
    </core-toolbar>
    <paper-dialog backdrop layered id="searchInfoDialog">
      <search-info></search-info>
    </paper-dialog>
    <paper-dialog backdrop layered heading="Create Song" id="createSongDialog">
      <!-- <create-song></create-song> -->
    </paper-dialog>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'search-toolbar',

    properties: {
      query: {
        type: String,
        notify: true
      },
      djSearch: {
        type: Boolean,
        notify: true
      }
    },

    isTall: false,

    musicDir: '',

    domReady: function() {
      this.$.createSongButton.ondragover = function() {
        this.icon = 'add-circle-outline';
      };
      this.$.createSongButton.ondragend = function() {
        this.icon = 'add-circle';
      };
      this.$.createSongButton.ondrop = function(e) {
        e.preventDefault();
        for (var i = 0; i < e.dataTransfer.files.length; ++i) {
          var song = new ss.Song();
          window.console.log(song);
          /*song.setFilepath(e.dataTransfer.files[i].path);
          window.console.log(e.dataTransfer.files[i].path);
          ss.MusicManager.readTagsFromSong(song);
          window.console.log(song);*/
        }
      };
    },

    toggleIsTall: function(e, detail, sender  ) {
      this.isTall = !this.isTall;
    },

    toggleSearchInfoDialog: function(e, detail, sender) {
      this.$.searchInfoDialog.toggle();
    },

    clickSettingsAction: function(e, detail, sender) {
      e.stopPropagation();
      this.asyncFire('page-settings');
    },

    toggleCreateSongDialog: function(e, detail, sender) {
      this.$.createSongDialog.toggle();
    },

    searchAction: function(e, detail, sender) {
      this.asyncFire('core-signal', {name: 'search'});
    },

    musicDirChanged: function(oldValue, newValue) {
      if (this.global)
        this.global.musicDir = newValue;
    },

    globalChanged: function(oldValue, newValue) {
      if (this.musicDir)
        this.global.musicDir = this.musicDir;
    },

    analyzeBpms: function(e, detail, sender) {
      ss.AudioAnalyzer.analyzeBpms();
    },
  });

  computeIsTall(isTall) {
    return isTall ? "medium-tall" : "";
  }
</script>
