<link href="../polymer/polymer.html" rel="import">

<link href="../css/roboto.css" rel="stylesheet">

<link href="themes.html" rel="import">

<polymer-element name="search-info">
  <template>
    <link href="search-info.css" rel="stylesheet">
    <core-style ref="main"></core-style>

    <div flex>
      <span class="heading">Search atoms</span>
      <hr>
    </div>
    <div horizontal layout class="text">
      <div flex class="right">
        <span class="emphasis">a</span> or <span class="emphasis">artist</span> <br>
        <span class="emphasis">t</span> or <span class="emphasis">title</span> <br>
        <span class="emphasis">r</span> or <span class="emphasis">remixer</span> <br>
        <span class="emphasis">rating</span> <br>
        <span class="emphasis">comment</span> <br>
        <span class="emphasis">trashed</span> <br>
      </div>
      <div flex>
        : Song artist<br>
        : Song title<br>
        : Song remixer<br>
        : Song rating<br>
        : Song comment<br>
        : Has song been deleted<br>
      </div>
      <div flex class="right">
        <span class="emphasis">lowq</span> <br>
        <span class="emphasis">aid</span> <br>
        <span class="emphasis">n</span> or <span class="emphasis">album</span> <br>
        <span class="emphasis">m</span> or <span class="emphasis">mixed</span> <br>
        <span class="emphasis">l</span> or <span class="emphasis">label</span> <br>
        <span class="emphasis">y</span> or <span class="emphasis">year</span> <br>
      </div>
      <div flex>
        : Is song low quality<br>
        : Internal album ID<br>
        : Album name<br>
        : Is album mixed<br>
        : Label released on<br>
        : Year released<br>
      <div>
    </div>
  </template>
  <script>
    Polymer('search-info', {
    });
  </script>
</polymer-element>
