<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">

<link href="themes.html" rel="import">


<dom-module id="search-info">
  <style is="custom-style">
    div {
      white-space: nowrap;
    }

    div.text {
      width: 575px;
    }

    .right {
      text-align: right;
    }

    .heading {
      margin-top: 14px;
    }

    .vertical {
      @apply(--layout-vertical);
    }

    .horizontal {
      @apply(--layout-horizontal);
    }

    .flex {
      @apply(--layout-flex);
    }
  </style>
  <template>
    <div class="text vertical">
      <div class="heading">
        <span>Search atoms</span>
        <hr>
      </div>
      <div class="horizontal">
        <div class="right flex">
          <span class="emphasis">id</span> : <br>
          <span class="emphasis">a</span> or <span class="emphasis">artist</span> : <br>
          <span class="emphasis">t</span> or <span class="emphasis">title</span> : <br>
          <span class="emphasis">r</span> or <span class="emphasis">remixer</span> : <br>
          <span class="emphasis">rating</span> : <br>
          <span class="emphasis">comment</span> : <br>
          <span class="emphasis">q</span> or <span class="emphasis">query</span> : <br>
        </div>
        <div class="flex">
          Internal song ID<br>
          Song artist<br>
          Song title<br>
          Song remixer<br>
          Minimum song rating<br>
          Song comment<br>
          Custom query predicate<br>
        </div>
        <div class="right flex">
          <span class="emphasis">aid</span> : <br>
          <span class="emphasis">n</span> or <span class="emphasis">album</span> : <br>
          <span class="emphasis">m</span> or <span class="emphasis">mixed</span> : <br>
          <span class="emphasis">l</span> or <span class="emphasis">label</span> : <br>
          <span class="emphasis">y</span> or <span class="emphasis">year</span> : <br>
          <span class="emphasis">trashed</span> : <br>
          <span class="emphasis">lowq</span> : <br>
          <span class="emphasis">limit</span> : <br>
        </div>
        <div class="flex">
          Internal album ID<br>
          Album name<br>
          Is album mixed<br>
          Label released on<br>
          Year released<br>
          Has song been deleted<br>
          Is song low quality<br>
          Result count limit<br>
        </div>
      </div>
      <div class="heading">
        <span>Special characters</span>
        <hr>
      </div>
      <div class="horizontal">
        <div class="right flex">
          <span class="emphasis">-</span> : <br>
          <span class="emphasis">"</span> : <br>
        </div>
        <div class="flex">
          Negates a query atom<br>
          Used to group terms<br>
        </div>
        <div class="right flex">
          <span class="emphasis">0</span> or <span class="emphasis">1</span> : <br>
          <span class="emphasis">\\</span> : <br>
        </div>
        <div class="flex">
          Boolean values<br>
          Escape character<br>
        </div>
      </div>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'search-info'
  });
</script>
