<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../iron-icons/iron-icons.html" rel="import">
<link href="../iron-signals/iron-signals.html" rel="import">
<link href="../paper-dialog/paper-dialog.html" rel="import">
<link href="../paper-icon-button/paper-icon-button.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">
<link href="../paper-toggle-button/paper-toggle-button.html" rel="import">
<link href="../paper-toolbar/paper-toolbar.html" rel="import">

<!-- <link href="create-song.html" rel="import"> -->
<link href="search-info.html" rel="import">
<link href="ss-global-behavior.html" rel="import">


<dom-module id="search-toolbar">
  <style is="custom-style">
    :host {
      height: 39px;
    }
    paper-icon-button {
      color: var(--primary-text-color);
    }
    .top {
      flex: 1;
      align-items: flex-end;
    }

    #bpm {
      width: 64px;
    }
    #bpm::shadow .input-container {
      bottom: 0;
      top: 0;
    }
    #bpm::shadow .mirror-text, #bpm::shadow .label {
      padding: 0;
    }

    .flex {
      @apply(--layout-flex);
    }
    .hide {
      display: none;
    }
    .horizontal {
      @apply(--layout-horizontal);
    }
    .indent {
      margin-left: 31px;
    }

    paper-toolbar {
      transform: translateY(-25px);
    }
  </style>
  <template>
    <paper-toolbar class$="{{computeIsTall(isTall)}}">
      <content></content>
      <!-- top row -->
      <section class="indent horizontal top">
        <paper-icon-button icon="search" on-click="searchAction"></paper-icon-button>
        <paper-input id="searchInput" label="search" class="flex" value="{{query}}" noLabelFloat></paper-input>
        <paper-icon-button icon="info-outline" on-click="toggleSearchInfoDialog"></paper-icon-button>
        <paper-input label="bpm" value="{{global.bpm}}" id="bpm"></paper-input>
        <paper-icon-button icon="add-circle" on-click="toggleCreateSongDialog" id="createSongButton"></paper-icon-button>
        <paper-icon-button icon="settings" on-click="clickSettingsAction"></paper-icon-button>
        <paper-icon-button icon="unfold-more" on-click="toggleIsTall"></paper-icon-button>
      </section>
      <!-- middle row -->
      <!-- bottom row -->
      <section class$="{{computeHideIfTall(isTall, 'bottom')}}">
        <div>
          <paper-toggle-button checked="{{djSearch}}"></paper-toggle-button>
          DJ Search Mode
        </div>
        <div class="flex"></div>
        <div>
          <paper-icon-button icon="query-builder" on-click="analyzeBpms"></paper-icon-button>
          Analyze BPMs
        </div>
      </section>
    </paper-toolbar>
    <paper-dialog backdrop layered id="searchInfoDialog">
      <search-info></search-info>
    </paper-dialog>
    <paper-dialog backdrop layered heading="Create Song" id="createSongDialog">
      <!-- <create-song></create-song> -->
    </paper-dialog>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'search-toolbar',

    behaviors: [
      GlobalBehavior
    ],

    properties: {
      query: {
        type: String,
        notify: true
      },
      djSearch: {
        type: Boolean,
        notify: true
      },
      isTall: {
        type: Boolean,
        value: false
      }
    },

    attached: function() {
      // https://www.polymer-project.org/1.0/docs/migration.html#domready
      this.async(function() {
        this.$.createSongButton.ondragover = function() {
          this.icon = 'add-circle-outline';
        };
        this.$.createSongButton.ondragend = function() {
          this.icon = 'add-circle';
        };
        this.$.createSongButton.ondrop = function(e) {
          e.preventDefault();
          for (var i = 0; i < e.dataTransfer.files.length; ++i) {
            var song = new ss.Song();
            window.console.log(song);
            /*song.setFilepath(e.dataTransfer.files[i].path);
            window.console.log(e.dataTransfer.files[i].path);
            ss.MusicManager.readTagsFromSong(song);
            window.console.log(song);*/
          }
        };
      }.bind(this));
    },

    toggleIsTall: function(e, detail, sender  ) {
      this.isTall = !this.isTall;
    },

    toggleSearchInfoDialog: function(e, detail, sender) {
      this.$.searchInfoDialog.toggle();
    },

    clickSettingsAction: function(e, detail, sender) {
      e.stopPropagation();
      this.fire('page-settings');
    },

    toggleCreateSongDialog: function(e, detail, sender) {
      this.$.createSongDialog.toggle();
    },

    searchAction: function(e, detail, sender) {
      this.fire('iron-signal', {name: 'search'});
    },

    analyzeBpms: function(e, detail, sender) {
      ss.AudioAnalyzer.analyzeBpms();
    },

    computeIsTall: function(isTall) {
      return isTall ? 'medium-tall' : '';
    },

    computeHideIfTall: function(isTall, classes) {
      classes = classes || '';
      return classes + (isTall ? '' : ' hide');
    },
  });
</script>
