paper-toolbar {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 2px;
  height: 45px;
}

paper-toolbar::shadow .toolbar-tools {
  height: 45px;
}

.hide {
  display: none;
}

#bpm {
  width: 64px;
}
#bpm::shadow .input-container {
  bottom: 0;
  top: 0;
}
#bpm::shadow .mirror-text, #bpm::shadow .label {
  padding: 0;
}

.flex {
  @apply(--layout-flex);
}
