<link href="../polymer/polymer.html" rel="import">

<link href="../iron-icons/iron-icons.html" rel="import">
<link href="../paper-dialog/paper-dialog.html" rel="import">
<link href="../paper-icon-button/paper-icon-button.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">
<link href="../paper-toggle-button/paper-toggle-button.html" rel="import">

<link href="search-info.html" rel="import">
<link href="ss-global-behavior.html" rel="import">
<link href="ss-options-menu.html" rel="import">
<link href="ss-options-menu-item.html" rel="import">


<dom-module id="search-toolbar">
  <style is="custom-style">
    :host {
      background-color: var(--search-toolbar-background);
      display: flex;
      flex-direction: row;
      height: 42px;
      padding-top: 5px;
      padding-left: 17px;
    }
    paper-icon-button {
      color: var(--primary-text-color);
    }
    #searchInfoDialog {
      max-width: none !important;
    }
    #bpm {
      width: 64px;
    }
    .flex {
      flex: 1;
      flex-basis: auto;
    }
    .menuItem {
      white-space: nowrap;
    }
  </style>
  <template>
    <content></content>  <!-- for drawer icon. needed? -->
    <paper-icon-button icon="search" on-click="search"></paper-icon-button>
    <paper-input label="search" value="{{query}}" class="flex" no-label-float></paper-input>
    <paper-icon-button icon="info-outline" on-click="_toggleSearchInfoDialog"></paper-icon-button>
    <paper-input label="bpm" value="{{global.bpm}}" id="bpm" no-label-float></paper-input>
    <paper-icon-button icon="add-circle" on-click="_openCreateSongPage" id="createSongButton"></paper-icon-button>
    <paper-icon-button icon="settings" on-click="_openSettingsPage"></paper-icon-button>
    <ss-options-menu>
      <ss-options-menu-item on-click="analyzeBpms">Analyze BPMs</ss-options-menu-item>
      <div class="menuItem"> <!-- cannot use ss-options-menu-item here since the ripple will prevent click on btn -->
        <paper-toggle-button checked="{{djSearch}}"></paper-toggle-button>
        <span>DJ Search Mode</span>
      </div>
    </ss-options-menu>
    <paper-dialog id="searchInfoDialog" entry-animation="fade-in-animation" exit-animation="fade-out-animation">
      <search-info></search-info>
    </paper-dialog>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'search-toolbar',

    behaviors: [
      GlobalBehavior
    ],

    properties: {
      query: {
        type: String,
        notify: true
      },
      djSearch: {
        type: Boolean,
        notify: true
      },
    },

    attached: function() {
      // https://www.polymer-project.org/1.0/docs/migration.html#domready
      this.async(function() {
        this.$.createSongButton.ondragover = function() {
          this.icon = 'add-circle-outline';
        };
        this.$.createSongButton.ondragend = function() {
          this.icon = 'add-circle';
        };
        this.$.createSongButton.ondrop = function(e) {
          e.preventDefault();
          for (var i = 0; i < e.dataTransfer.files.length; ++i) {
            var song = new ss.Song();
            window.console.log(song);
            /*song.setFilepath(e.dataTransfer.files[i].path);
            window.console.log(e.dataTransfer.files[i].path);
            ss.MusicManager.readTagsFromSong(song);
            window.console.log(song);*/
          }
        };
      }.bind(this));
    },

    search: function(e, detail, sender) {
      this.fire('iron-signal', {name: 'search'});
    },

    analyzeBpms: function(e, detail, sender) {
      ss.AudioAnalyzer.analyzeBpms();
    },

    _toggleSearchInfoDialog: function(e, detail, sender) {
      this.$.searchInfoDialog.toggle();
    },

    _openSettingsPage: function(e, detail, sender) {
      this.fire('page-settings');
    },

    _openCreateSongPage: function(e, detail, sender) {
      // this.fire('create-song');
    },
  });
</script>
