<link href="../polymer/polymer.html" rel="import">

<link href="../core-style/core-style.html" rel="import">
<link href="../font-roboto/roboto.html" rel="import">
<link href="../polymer-ui-ratings/polymer-ui-ratings.html" rel="import">

<link href="global-state.html" rel="import">
<link href="themes.html" rel="import">


<polymer-element name="song-list-item" attributes="song">

  <template>
    <link href="song-list-item.css" rel="stylesheet">
    <core-style ref="main"></core-style>

    <global-state values="{{global}}"></global-state>

    <div horizontal layout center class="song-item" draggable="true" on-dragstart="{{dragSong}}" id="draggableItem">
      <div class="artist">{{song.artist}}</div>
      <div> - </div>
      <div class="title">{{song.title}}</div>
      <div flex></div>
      <div class="bpmDiff">{{bpmDiff}}</div>
      <!-- this is a crappy theming method that is deprecated, but required for the ratings atm -->
      <div theme="polymer-ui-dark-theme">
        <polymer-ui-ratings value="{{song.rating}}"></polymer-ui-ratings>
      </div>
      <div class="added">{{song.dateAdded}}</div>
    </div>
  </template>

  <script>
    Polymer('song-list-item', {

      /** @attribute song */
      song: null,

      bpmDiff: '',

      observe: {
        'global.bpm': 'globalBpmChanged',
        'gobal.musicDir': 'globalMusicDirChanged'
      },

      globalChanged: function(oldValue, newValue) {
        this.globalMusicDirChanged('', this.global.musicDir);
      },

      globalMusicDirChanged: function(oldValue, newValue) {
        //var filename = this.song.filePath.substr(this.song.filePath.lastIndexOf('/') + 1);
        //var fp = newValue + this.song.filePath.substr(this.song.filePath.search('mp3') + 3);
        //this.filepath = 'application/octet-stream:' + filename + ':file://' + fp;
      },

      globalBpmChanged: function(oldValue, newValue) {
        this.bpmDiff = ((this.global.bpm / this.song.bpm - 1) * 100).toFixed(2);
      },

      dragSong: function(e) {
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/plain', 'extensis-filenames-type:' + this.song.filepath);
      },
    });
  </script>
</polymer-element>