<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../mat-menu/mat-menu.html" rel="import">
<link href="../mat-menu-button/mat-menu-button.html" rel="import">
<link href="../mat-option/mat-option.html" rel="import">

<link href="global-state.html" rel="import">
<link href="ss-star-rating.html" rel="import">


<dom-module id="song-list-item">
  <style is="custom-style">


    ss-star-rating {
      margin: 0 6px;
    }
    #menuButton {
      color: white;
    }
    #menuButton::shadow mat-icon-button {
      color: red;
    }


    .song-item {
      @apply(--layout-horizontal);
      @apply(--layout-center);
      height: 30px;
      padding: 0 8px;
      margin: 0 10px;
      border-bottom: var(--ss-song-list-item-border-bottom);
    }
    .song-item div {
      margin: 3px;
    }
    .song-item #menuButton {
      display: none;
    }
    .song-item:hover {
      background-color: var(--ss-song-list-item-hover-background-color);
    }
    .song-item:hover #menuButton {
      display: block;
    }
    /*.song-item #menuButton {
      margin-top: 4px;
      padding: 0;
    }*/
    .song-item .artist {
      color: var(--ss-song-list-item-artist-color);
    }
    .song-item .title {
      color: var(--ss-song-list-item-title-color);
    }
    .song-item .fade-out:after {
      background: var(--ss-song-list-item-fade-out);
    }
    .song-item:hover .fade-out:after {
      background: var(--ss-song-list-item-hover-fade-out);
    }
    .song-item #menuButton {
      border: var(--ss-song-list-item-button-border);
    }
    .song-item #menuButton:hover {
      border: var(--ss-song-list-item-button-hover-border);
    }

    #cover {
      background-size: cover;
      height: 30px;
      width: 30px;
    }

    .key {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
    }

    .fade-out:after {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 30px;
      content: "";
    }

    time {
      text-align: right;
      width: 64px;
    }

    .flex {
      @apply(--layout-flex);
    }

    mat-menu-button /deep/ xp-icon {
      color: var(--primary-text-color);
    }
  </style>
  <template>
    <global-state values="{{global}}"></global-state>

    <div class="song-item" draggable="true" on-dragstart="dragSong" id="draggableItem">
      <div id="cover"></div>
      <div class="key fade-out flex">
        <span class="artist">[[song.artist]]</span>
        <span> - </span>
        <span class="title">[[song.title]]</span>
      </div>
      <mat-menu-button target="menu" id="menuButton"></mat-menu-button>
      <div class="bpmDiff">{{bpmDiff}}</div>
      <ss-star-rating value="{{song.rating}}" read-only></ss-star-rating>
      <time class="added">{{localeDate}}</time>
    </div>
    <mat-menu id="menu">
      <mat-option label="Edit info" on-click="clickEditAction"></mat-option>
    </mat-menu>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'song-list-item',

    properties: {
      song: Object,
      musicDir: {
        type: String,
        value: function() { return (new ss.SoulSifterSettings()).getString('music.dir'); }
      }
    },

    observers: [
      'globalBpmChanged(global.bpm)'
    ],

    bpmDiff: '',

    localeDate: '',

    attached: function() {
      this.localeDate = new Date(this.song.dateAdded).toLocaleDateString();
      this.$.cover.style.backgroundImage = 'url("' + this.song.album.coverFilepath + '")';
    },

    globalMusicDirChanged: function(newValue) {
      //var filename = this.song.filePath.substr(this.song.filePath.lastIndexOf('/') + 1);
      //var fp = newValue + this.song.filePath.substr(this.song.filePath.search('mp3') + 3);
      //this.filepath = 'application/octet-stream:' + filename + ':file://' + fp;
    },

    globalBpmChanged: function(newValue) {
      if (this.global.bpm)
        this.bpmDiff = ((this.global.bpm / this.song.bpm - 1) * 100).toFixed(2);
    },

    dragSong: function(e) {
      e.dataTransfer.effectAllowed = 'move';
      e.dataTransfer.setData('text/plain', 'extensis-filenames-type:' + this.song.filepath);
    },

    clickEditAction: function(e, detail, sender) {
      e.stopPropagation();
      this.fire('page-song-edit', {song: this.song});
    },

    stopPropagation: function(e, detail, sender) {
      e.stopPropagation();
    },
  });
</script>
