<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../core-icons/core-icons.html" rel="import">
<link href="../core-menu/core-menu.html" rel="import">
<link href="../core-style/core-style.html" rel="import">
<link href="../paper-dropdown/paper-dropdown.html" rel="import">
<link href="../paper-icon-button/paper-icon-button.html" rel="import">
<link href="../paper-item/paper-item.html" rel="import">
<link href="../paper-menu-button/paper-menu-button.html" rel="import">

<link href="global-state.html" rel="import">
<link href="ss-star-rating.html" rel="import">
<link href="themes.html" rel="import">


<dom-module id="song-list-item">
  <link href="song-list-item.css" rel="import" type="css">
  <template>
    <core-style ref="main"></core-style>

    <global-state values="{{global}}"></global-state>

    <div class="song-item" draggable="true" on-dragstart="{{dragSong}}" id="draggableItem">
      <div id="cover"></div>
      <div class="key fade-out flex">
        <span class="artist">{{song.artist}}</span>
        <span> - </span>
        <span class="title">{{song.title}}</span>
      </div>
      <paper-menu-button on-click="{{stopPropagation}}">
        <paper-icon-button icon="more-vert"></paper-icon-button>
        <paper-dropdown class="dropdown" transition="cascade">
          <core-menu>
            <paper-item on-click="{{clickEditAction}}">Edit info</paper-item>
          </core-menu>
        </paper-dropdown>
      </paper-menu-button>
      <div class="bpmDiff">{{bpmDiff}}</div>
      <ss-star-rating value="{{song.rating}}" read-only></ss-star-rating>
      <time class="added">{{localeDate}}</time>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'song-list-item',

    properties: {
      song: Object
    },

    observers: [
      'globalBpmChanged(global.bpm)',
      'globalMusicDirChanged(gobal.musicDir)'
    ],

    bpmDiff: '',

    localeDate: '',

    attached: function() {
      this.localeDate = new Date(this.song.dateAdded).toLocaleDateString();
      this.$.cover.style.backgroundImage = 'url("' + this.song.album.coverFilepath + '")';
    },

    globalMusicDirChanged: function(newValue) {
      //var filename = this.song.filePath.substr(this.song.filePath.lastIndexOf('/') + 1);
      //var fp = newValue + this.song.filePath.substr(this.song.filePath.search('mp3') + 3);
      //this.filepath = 'application/octet-stream:' + filename + ':file://' + fp;
    },

    globalBpmChanged: function(newValue) {
      if (this.global.bpm)
        this.bpmDiff = ((this.global.bpm / this.song.bpm - 1) * 100).toFixed(2);
    },

    dragSong: function(e) {
      e.dataTransfer.effectAllowed = 'move';
      e.dataTransfer.setData('text/plain', 'extensis-filenames-type:' + this.song.filepath);
    },

    clickEditAction: function(e, detail, sender) {
      e.stopPropagation();
      this.asyncFire('page-song-edit', {song: this.song});
    },

    stopPropagation: function(e, detail, sender) {
      e.stopPropagation();
    },
  });
</script>
