<link href="../polymer/polymer.html" rel="import">

<link href="../core-ajax/core-ajax.html" rel="import">
<link href="../core-scroll-header-panel/core-scroll-header-panel.html" rel="import">
<link href="../core-signals/core-signals.html" rel="import">
<link href="../core-style/core-style.html" rel="import">
<link href="../core-toolbar/core-toolbar.html" rel="import">
<link href="../paper-icon-button/paper-icon-button.html" rel="import">

<link href="global-state.html" rel="import">
<link href="pitch-slider.html" rel="import">
<link href="ss-googleplaymusic.html" rel="import">
<link href="ss-star-rating.html" rel="import">
<link href="themes.html" rel="import">


<polymer-element name="song-section" attributes="songTrail">

  <template>
    <link href="song-section.css" rel="stylesheet">
    <core-style ref="main"></core-style>

    <global-state values="{{global}}"></global-state>
    <ss-googleplaymusic id="gpm"></ss-googleplaymusic>
    <core-signals on-core-signal-save-song-trail="{{saveSongTrail}}"></core-signals>

    <core-scroll-header-panel condenses keepCondensedHeader fit condensedHeaderHeight="40px" id="cshp">
      <core-toolbar id="header" draggable="true" on-dragstart="{{dragSong}}">
        <div horizontal layout justified id="nav">
          <paper-icon-button icon="arrow-back" on-click="{{backAction}}" disabled?="{{!songTrailIndex}}"></paper-icon-button>
          <paper-icon-button icon="arrow-forward" on-click="{{forwardAction}}" disabled?="{{songTrailIndex == songTrail.length}}"></paper-icon-button>
        </div>
      </core-toolbar>
      <section vertical layout class="content">
        <div class="title">{{song.title}}</div>
        <div class="artist">{{song.artist}}</div>
        <ss-star-rating value="{{song.rating}}"></ss-star-rating>
        <div class="track" self-end>{{song.album.track}}</div>
        <div class="track" self-end>{{song.album.name}}</div>
        <div class="released" self-end>{{song.album.releaseDateYear}}-{{song.album.releaseDateMonth}}-{{song.album.releaseDateDay}}</div>
        <div class="comments" flex>{{song.comments}}</div>
        <div class="bpm">{{song.bpm}} bpm</div>
        <time class="added">{{localeDateTime}}</time>
        <div horizontal layout center>
          <div>pitch</div>
          <pitch-slider></pitch-slider>
        </div>
        <audio controls id="audio"></audio>
      </section>
    </core-scroll-header-panel>
  </template>

  <script>

    Polymer('song-section', {

      localeDateTime: '',

      songTrailIndex: 0,

      observe: {
        'global.song': 'globalSongChanged'
      },

      created: function() {
        this.songTrail = [];
      },

      ready: function() {
        this.fs = require('fs');
      },

      globalSongChanged: function(oldSong, song) {
        this.song = song;
        if (!song) {
          this.setCoverImage();
          return;
        }

        var entry = new ss.PlaylistEntry();
        entry.song = song;
        entry.position = this.songTrailIndex++;
        this.songTrail[entry.position] = entry;

        this.localeDateTime = new Date(this.song.dateAdded).toLocaleString();

        // audio source; use local, otherwise contact google api
        var that = this;
        this.fs.access(this.song.filepath, this.fs.F_OK | this.fs.R_OK, function(err) {
            if (!err) {
              that.$.audio.src = "file://" + that.song.filepath;
              that.setCoverImage(that.song.album.coverFilepath);
            } else {
              that.$.gpm.findSong(that.song,
                  function(s) {
                    window.console.log(s);
                    that.$.gpm.findStreamUrl(s.track.nid,
                        function(url) {
                          that.$.audio.src = url;
                        },
                        function(msg, body, err, resp) { console.warn(msg); that.$.audio.src = ''; });
                    if (s.track.albumArtRef && s.track.albumArtRef.length) {
                      that.setCoverImage(s.track.albumArtRef[0].url);
                    } else {
                      that.setCoverImage();
                    }
                  },
                  function(msg, body, err, resp) {
                    console.warn(msg);
                    that.$.audio.src = '';
                    that.setCoverImage();
                  }
                );
            }
          });
      },

      dragSong: function(e) {
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/plain', 'extensis-filenames-type:' + this.song.filepath);
      },

      backAction: function(e, detail, sender) {
        this.global.song = --this.songTrailIndex ? this.songTrail[--this.songTrailIndex].song : undefined;
      },

      forwardAction: function(e, detail, sender) {
        this.global.song = this.songTrail[this.songTrailIndex].song;
      },

      saveSongTrail: function(e, detail, sender) {
        var playlist = detail.playlist;
        for (var i = 0; i < this.songTrailIndex; ++i) {
          var entry = this.songTrail[i];
          entry.playlist = playlist;
          entry.save();
        }
      },

      setCoverImage: function(img) {
        var url = '';
        if (img) {
          url = 'url("' + img + '")';
        }
        this.$.cshp.shadowRoot.getElementById('headerBg').style.backgroundImage = url;
      },
    });
  </script>
</polymer-element>