<link href="../polymer/polymer.html" rel="import">

<link href="../core-ajax/core-ajax.html" rel="import">
<link href="../core-scroll-header-panel/core-scroll-header-panel.html" rel="import">
<link href="../core-style/core-style.html" rel="import">
<link href="../polymer-ui-ratings/polymer-ui-ratings.html" rel="import">

<link href="global-state.html" rel="import">
<link href="pitch-slider.html" rel="import">
<link href="themes.html" rel="import">


<polymer-element name="song-section">

  <template>
    <link href="song-section.css" rel="stylesheet">
    <core-style ref="main"></core-style>

    <global-state values="{{global}}"></global-state>

    <!-- core-scroll-header-panel does not appear to work with my current 10.5 version of nodewebkit; try this again later when I upgrade it. -->
    <div vertical layout fit>
      <div id="header" draggable="true" on-dragstart="{{dragSong}}"></div>
      <div flex id="contentContainer">
        <section vertical layout fit class="content">
          <div class="title">{{song.title}}</div>
          <div class="artist">{{song.artist}}</div>
          <polymer-ui-ratings value="{{song.rating}}"></polymer-ui-ratings>
          <div class="track" self-end>{{song.album.track}}</div>
          <div class="track" self-end>{{song.album.name}}</div>
          <div class="released" self-end>{{song.album.releaseDateYear}}-{{song.album.releaseDateMonth}}-{{song.album.releaseDateDay}}</div>
          <div class="comments" flex>{{song.comments}}</div>
          <div class="bpm">{{song.bpm}} bpm</div>
          <time class="added">{{localeDateTime}}</time>
          <div horizontal layout center>
            <div>pitch</div>
            <pitch-slider></pitch-slider>
          </div>
          <audio controls id="audio"></audio>
        </section>
      </div>
    </div>
  </template>

  <script>

    Polymer('song-section', {

      localeDateTime: '',

      observe: {
        'global.song': 'globalSongChanged'
      },

      ready: function() {
        this.fs = require('fs');
        var PlayMusic = require('playmusic');
        this.pm = new PlayMusic();
      },

      attached: function() {
        var settings = new ss.SoulSifterSettings();
        var key = settings.getString('GoogleMusicKey');
        this.pm.init({email: "brokenbeat@gmail.com", password: key},
            function() {
              console.log("Succesfully connected to Google Music.");
            },
            function(message, data, err, res) {
              console.warn("Login to Google Music failed: " + message);
              console.warn("Data: " + data);
              console.warn("Err: " +  err);
              console.warn("Response: " + res);
            });
      },

      globalSongChanged: function(oldSong, song) {
        this.song = song;
        this.localeDateTime = new Date(this.song.dateAdded).toLocaleString();
        this.$.header.style.backgroundImage = 'url("' + this.song.album.coverFilepath + '")';

        // audio source; use local, otherwise contact google api
        this.fs.access(this.song.filepath, this.fs.F_OK | this.fs.R_OK, function(err) {
          if (!err) {
            this.$.audio.src = "file://" + this.song.filepath;
          } else {
            this.pm.search(this.song.artist + ' ' + this.song.title, 3,
                function(data) {
                  if (!data.entries) {
                    console.log("No results in Google Play Music for " + this.song.artist + " - " + this.song.title);
                    return;
                  }
                  var song = data.entries.filter(function(val) { return val.type == 1; }).sort(function(a, b) { return a.score < b.score; }).shift();
                  if (!song) {
                    console.log("Results did not include a song for " + this.song.artist + " - " + this.song.title);
                    return;
                  }
                  this.pm.getStreamUrl(song.track.nid, function(url) { this.$.audio.src = url; }.bind(this));
                }.bind(this),
                function(message, body, err, httpResponse) {
                  console.log("Error searching for " + this.song.artist + " - " + this.song.title);
                  console.log("Msg: " + message);
                  console.log("Body: " + body);
                  console.log("Err: " + err);
                  console.log("Response: " + httpResponse);
                }.bind(this));
          }
        }.bind(this));
      },

      dragSong: function(e) {
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/plain', 'extensis-filenames-type:' + this.song.filepath);
      },
    });
  </script>
</polymer-element>