<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../paper-checkbox/paper-checkbox.html" rel="import">
<link href="../paper-dropdown-menu/paper-dropdown-menu.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">
<link href="../paper-item/paper-item.html" rel="import">
<link href="../paper-menu/paper-menu.html" rel="import">

<link href="abstract-action-page.html" rel="import">
<link href="genre-list.html" rel="import">
<link href="ss-star-rating.html" rel="import">


<dom-module id="song-edit">
  <style is="custom-style">
    :host {
      font-size: 16px;
    }

    paper-input {
      position: relative;
      width: 240px;
    }
    paper-input::shadow .label-is-floating label {
      text-align: right;
    }
    paper-dropdown-menu::shadow paper-input::shadow label {
      text-align: right;
    }

    paper-checkbox {
      margin: 10px 0;
    }

    #ratingContainer {
      position: relative;
      padding: 13px 0;
      width: 240px;
    }
    #ratingContainer .label {
      position: absolute;
      right: 260px;
      top: 15px;
    }
    .label {
      font-size: 0.75em;
    }
    .prev {
      font-size: 13px;
      margin-top: 8px;
      margin-bottom: -28px;
      text-align: right;
      color: #666;  /* TODO pull into theme */
    }
    .metadata {
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 13px;
      color: #777777;  /* TODO put into theme */
    }

    .cols {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .rows {
      display: flex;
      flex-direction: column;
    }
    #cover {
      align-self: flex-end;
      background-size: cover;
      height: 108px;
      width: 108px;
    }
  </style>
  <template>
    <abstract-action-page id="abstractActionPage" do-not-call-exit>
      <div class="fields">
        <div class="prev">&nbsp;<span>[[_taggedSong.artist]]</span></div>
        <paper-input label="Artist" value="{{_editedSong.artist}}" required="true" floatingLabel></paper-input>
        <div class="prev">&nbsp;<span>[[_taggedSong.track]]</span></div>
        <paper-input label="Track Num" value="{{_editedSong.track}}" floatingLabel></paper-input>
        <div class="prev">&nbsp;<span>[[_taggedSong.title]]</span></div>
        <paper-input label="Title" value="{{_editedSong.title}}" required="true" floatingLabel></paper-input>
        <div class="prev">&nbsp;<span>[[_taggedSong.remixer]]</span></div>
        <paper-input label="Remixer" value="{{_editedSong.remixer}}" floatingLabel></paper-input>
        <paper-input label="Comments" value="{{_editedSong.comments}}" floatingLabel></paper-input>
        <div id="ratingContainer">
          <div class="label">Rating</div>
          <ss-star-rating value="{{_editedSong.rating}}"></ss-star-rating>
        </div>
        <div class="prev">&nbsp;<span>[[_taggedSong.bpm]]</span></div>
        <paper-input label="BPM" value="{{_editedSong.bpm}}" floatingLabel></paper-input>
        <paper-input label="Key" value="{{_editedSong.tonicKey}}" floatingLabel></paper-input>
        <div class="cols">
          <div class="rows">
            <paper-checkbox checked="{{_editedSong.lowQuality}}">Low Quality</paper-checkbox>
            <paper-checkbox checked="{{_editedSong.album.mixed}}">Mixed</paper-checkbox>
            <paper-checkbox checked="{{_editedSong.trashed}}" disabled$="[[song.trashed]]">Trash</paper-checkbox>
          </div>
          <div id="cover" on-click="_changeCover"></div>
          <input style="display:none;" id="coverFileDialog" type="file"/>
        </div>
      </div>
      <div class="fields">
        <div class="prev">&nbsp;<span>[[_taggedSong.album.artist]]</span></div>
        <paper-input label="Album Artist" value="{{_editedSong.album.artist}}" floatingLabel></paper-input>
        <div class="prev">&nbsp;<span>[[_taggedSong.album.name]]</span></div>
        <paper-input label="Album Name" value="{{_editedSong.album.name}}" required="true" floatingLabel></paper-input>
        <div class="prev">&nbsp;<span>[[_taggedSong.albumPart.pos]]</span></div>
        <paper-input label="POS" value="{{_editedSong.albumPart.pos}}" floatingLabel></paper-input>
        <div class="prev">&nbsp;<span>[[_taggedSong.albumPart.name]]</span></div>
        <paper-input label="Subtitle" value="{{_editedSong.albumPart.name}}" floatingLabel></paper-input>
        <div class="prev">&nbsp;<span>[[_taggedSong.album.label]]</span></div>
        <paper-input label="Label" value="{{_editedSong.album.label}}" floatingLabel></paper-input>
        <div class="prev">&nbsp;<span>[[_taggedSong.album.catalogId]]</span></div>
        <paper-input label="Catalog ID" value="{{_editedSong.album.catalogId}}" floatingLabel></paper-input>
        <paper-dropdown-menu label="Artist Genre" required>
          <paper-menu class="dropdown-content" selected="{{basicgenreName}}" attr-for-selected="label">
            <template is="dom-repeat" items="[[_basicGenreList]]">
              <paper-item label="[[item.name]]">[[item.name]]</paper-item>
            </template>
          </paper-menu>
        </paper-dropdown-menu>
        <div class="prev">&nbsp;<span>[[_taggedSong.album.releaseDateYear]]</span></div>
        <paper-input label="Release Year" value="{{_editedSong.album.releaseDateYear}}" required="true" type="number" min="1600" max="2099" floatingLabel></paper-input>
        <div class="prev">&nbsp;<span>[[_taggedSong.album.releaseDateMonth]]</span></div>
        <paper-input label="Release Month" value="{{_editedSong.album.releaseDateMonth}}" type="number" min="1" max="12" floatingLabel></paper-input>
        <div class="prev">&nbsp;<span>[[_taggedSong.album.releaseDateDay]]</span></div>
        <paper-input label="Release Day" value="{{_editedSong.album.releaseDateDay}}" type="number" min="1" max="31" floatingLabel></paper-input>
      </div>
      <div class="genres">
        <genre-list id="genreList" selection="{{_styles}}" single-select></genre-list>
      </div>
    </abstract-action-page>
    <div class="metadata">
      <div>[[_editedSong.id]]</div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div on-click="_changeSong">[[_editedSong.filepath]]</div>
      <input style="display:none;" id="songFileDialog" type="file"/>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'song-edit',

    properties: {
      song: {
        type: Object,
        observer: '_songChanged'
      },
      _newSongManager: {
        type: Object,
        value: function() { return new ss.NewSongManager(); },
        readOnly: true
      },
      _taggedSong: {
        type: Object,
        value: function() { return new ss.Song(); }
      },
      _editedSong: Object,
      filepaths: {
        type: Array,
        observer: '_filepathsChanged'
      },
      _styles: {
        type: Array,
        value: function() { return []; }
      },
      debounceTime: {
        type: Number,
        value: 750
      },
      _changedAlbumCover: {
        type: Boolean,
        value: false
      },
      _basicGenreList: {
        type: Array,
        value: function() { return ss.BasicGenre.findAll(); },
        readOnly: true
      },
    },

    observers: [
      '_albumArtistChanged(_editedSong.album.artist)',
      '_artistChanged(_editedSong.artist)',
    ],

    attached: function() {
      // https://www.polymer-project.org/1.0/docs/migration.html#domready
      this.async(function() {
        this.$.abstractActionPage.setAcceptAction(this.save);
        this.$.abstractActionPage.setCancelAction(this.skip);
        // select file dialog
        var that = this;
        this.$.coverFileDialog.addEventListener("change", function(e) {
          that._editedSong.album.coverFilepath = this.value;
          that.$.cover.style.backgroundImage = 'url("' + that._editedSong.album.coverFilepath + '")';
          that._changedAlbumCover = true;
        }, false);
        this.$.songFileDialog.addEventListener("change", function(e) {
          that._editedSong.filepath = this.value;
          that.notifyPath('_editedSong.filepath', this.value);
        }, false);
      }.bind(this));
    },

    ready: function() {
      // used for moving cover files
      this.fs = require('fs');
      this.path = require('path');
    },

    save: function() {
      if (!this._validate()) return;
      // perhaps allow genre list to select a set of IDs in the future?
      var styleIds = this._styles.map(function(g) { return g.id; });
      this._editedSong.styleIds = styleIds;
      // If there is no album part, we should clear this object out so it is
      // not saved. Setting the ID deletes the object, and having an ID of 0
      // indicates a NULL value upon save.
      if (!this._editedSong.albumPart.pos && !this._editedSong.albumPart.name) {
        this._editedSong.albumPartId = 0;
      }
      // Since basicGenre objects should not be shared between objects, we will be
      // creating another basicGenre here regardless if we selected an object in the dropdown.
      this._editedSong.album.basicGenre = ss.BasicGenre.findByName(this.basicgenreName);

      if (this._editedSong.id) {
        this._editedSong.update();
        // TODO update song with changes
      } else {
        this._newSongManager.processSong(this._editedSong);
        if (this._hasMoreSongs()) {
          return;  // stay on this page
        }
      }

      // Currently you cannot edit the cover of newly added songs. The
      // NewSongManager processes it last, so anything changed will just be
      // overwritten.
      if (this._changedAlbumCover) {
        // TODO the file moving should be done externally
        var basename = this.path.basename(this._editedSong.album.coverFilepath);
        var dirname = this.path.dirname(this._editedSong.filepath);
        var newpath = dirname + '/' + basename;
        this.fs.rename(this._editedSong.album.coverFilepath, newpath);
        this._editedSong.album.coverFilepath = newpath;
        this._editedSong.album.update();
      }

      this.$.abstractActionPage.exit();
    },

    skip: function() {
      if (this._hasMoreSongs()) {
        return;  // stay on this page
      }
      this.$.abstractActionPage.exit();
    },

    _filepathsChanged: function() {
      this._newSongManager.import(this.filepaths);
      if (!this._hasMoreSongs()) {
        // for some reason there is no song after importing filepaths, so just exit.
        this.$.abstractActionPage.exit();
      }
    },

    _songChanged: function() {
      if (!this.song) return;
      this._editedSong = new ss.Song(this.song);
      // Create album & album part for the song we are editing if there
      // currently does not exist one. It is not needed for the tagged song
      // since its purpose is only output.
      if (!this._editedSong.album) this._editedSong.album = new ss.Album();
      if (!this._editedSong.albumPart) {
        this._editedSong.albumPart = new ss.AlbumPart();
        this._editedSong.albumPart.album = this._editedSong.album;
      }
      if (!!this._editedSong.album.basicGenre) this.basicgenreName = this._editedSong.album.basicGenre.name;
      else this.basicgenreName = '';
      this.$.cover.style.backgroundImage = 'url("' + this._editedSong.album.coverFilepath + '")';
      this._changedAlbumCover = false;
      // this does not seem to play well when working straight on the array object
      this._styles = this._editedSong.styles;
    },

    _hasMoreSongs: function() {
      // There is an issue to update the data bindings of the songs updated
      // from the nextSong call on NewSongManager. Because of the dirty
      // checking in notifyPath, and the internals of the object are updated
      // via a 3rd-party library, we cannot update the bindings.
      // There are two options:
      // 1. Create temporary song objects to get updated, then set the bound
      // objects to these values.
      // 2. Call _pathEffector which is the "private" method in polymer which
      // does the update calls of notifyPath without the dirty checking.
      // Going with option 1 for now. Even though it is creating extra objects,
      // it's relatively small, and we could make them private members ourself
      // if we care about memory that much. It should be better than being
      // bitten by using a method that is considered private and updated from
      // underneath us.
      var tmpSong = new ss.Song();
      var tmpTaggedSong = new ss.Song();
      if (this._newSongManager.nextSong(tmpSong, tmpTaggedSong)) {
        this._taggedSong = tmpTaggedSong;
        this.song = tmpSong;
        return true;
      }
      return false;
    },

    _validate: function() {
      var valid = 1;
      var inputs = Polymer.dom(this.root).querySelectorAll('paper-input');
      for (var i = 0; i < inputs.length; ++i) {
        valid &= inputs[i].validate();
      }
      return valid;
    },

    _albumArtistChanged: function(artist) {
      if (!!artist && !this.basicgenreName) {
        this.debounce('findBasicGenreByArtist', function() {
          var basicGenre = ss.BasicGenre.findByArtist(artist);
          if (!!basicGenre) this.basicgenreName = basicGenre.name;
        }, this.debounceTime);
      }
    },

    _artistChanged: function(artist) {
      if (!!artist && !this._editedSong.album.artist) {
        this.debounce('setAlbumArtist', function() {
          this._editedSong.album.artist = artist;
          this.notifyPath('_editedSong.album.artist', artist);
        }, this.debounceTime);
      }
    },

    _changeCover: function() {
      this.$.coverFileDialog.click();
    },

    _changeSong: function() {
      this.$.songFileDialog.click();
    },
  });
</script>
