#header {
  background-size: cover;
  height: 256px;
}

.content {
  margin: 10px 15px;
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#nav paper-icon-button[disabled] {
  visibility: hidden;
}

#contentContainer {
  position: relative;
}

audio {
  height: 30px;
  width: 100%;
}
