:host {
  font-family: RobotoDraft;
  font-size: small;
}


polymer-ui-ratings {
  margin: 0 6px;
}
polymer-ui-ratings::shadow #star {
  margin: 0 -6px;
}


.song-item {
  height: 30px;
  padding: 0 8px;
  margin: 0 10px;
}
.song-item div {
  margin: 3px;
}

#cover {
  background-size: cover;
  height: 30px;
  width: 30px;
}

.key {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.fade-out:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  content: "";
}

time {
  text-align: right;
  width: 64px;
}