<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../iron-signals/iron-signals.html" rel="import">
<link href="../paper-scroll-header-panel/paper-scroll-header-panel.html" rel="import">
<link href="../paper-dropdown/paper-dropdown.html" rel="import">
<link href="../paper-icon-button/paper-icon-button.html" rel="import">
<link href="../paper-item/paper-item.html" rel="import">
<link href="../paper-menu/paper-menu.html" rel="import">
<link href="../paper-menu-button/paper-menu-button.html" rel="import">
<link href="../paper-toolbar/paper-toolbar.html" rel="import">

<link href="pitch-slider.html" rel="import">
<link href="ss-audio.html" rel="import">
<link href="ss-global-behavior.html" rel="import">
<link href="ss-googleplaymusic.html" rel="import">
<link href="ss-star-rating.html" rel="import">


<dom-module id="song-section">
  <style is="custom-style">
    paper-scroll-header-panel {
      /*position: static;*/
      height: 100%;
    }
    #header {
      color: inherit;
      background-color: transparent;
      background-size: cover;
      height: 256px;
    }
    .content {
      margin: 10px 15px;
    }
    .title {
      color: var(--secondary-text-color);
    }
    .slider {
      @apply(--layout-horizontal);
      @apply(--layout-center);
    }
    .audio {
      @apply(--layout-horizontal);
      @apply(--layout-flex);
    }
    .flex {
      @apply(--layout-flex);
    }
    .self-end {
      @apply(--layout-self-end);
    }
    .vertical {
      @apply(--layout-vertical);
    }
    #nav {
      @apply(--layout-horizontal);
      @apply(--layout-justified);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
    }
    #nav paper-icon-button[disabled] {
      visibility: hidden;
    }
    audio {
      height: 30px;
      width: 100%;
    }
  </style>
  <template>
    <ss-googleplaymusic id="gpm"></ss-googleplaymusic>
    <iron-signals on-iron-signal-save-song-trail="saveSongTrail"></iron-signals>

    <paper-scroll-header-panel id="shp" condenses keepCondensedHeader condensedHeaderHeight="40" headerHeight="256">
      <paper-toolbar id="header" draggable="true" on-dragstart="dragSong">
        <div id="nav">
          <paper-icon-button icon="arrow-back" on-click="backAction" disabled$="[[_isArrayEmpty(songTrail.*)]]"></paper-icon-button>
          <paper-icon-button icon="arrow-forward" on-click="forwardAction" disabled$="[[_isArrayEmpty(_songTrailCache.*)]]"></paper-icon-button>
        </div>
      </paper-toolbar>
      <div class="content vertical">
        <div class="title">{{song.title}}</div>
        <div class="artist">{{song.artist}}</div>
        <ss-star-rating value="{{song.rating}}" read-only></ss-star-rating>
        <div class="track self-end">{{song.album.track}}</div>
        <div class="track self-end">{{song.album.name}}</div>
        <div class="released self-end"><span>{{song.album.releaseDateYear}}</span>-<span>{{song.album.releaseDateMonth}}</span>-<span>{{song.album.releaseDateDay}}</span></div>
        <div class="comments">{{song.comments}}</div>
        <div class="bpm">{{song.bpm}} bpm</div>
        <time class="added">{{localeDateTime}}</time>
        <div class="slider">
          <div>pitch</div>
          <pitch-slider></pitch-slider>
        </div>
        <div class="audio">
          <ss-audio class="flex" id="audio"></ss-audio>
          <paper-menu-button on-click="stopPropagation">
            <paper-icon-button icon="more-vert"></paper-icon-button>
            <paper-dropdown class="dropdown" transition="cascade" halign="right" valign="bottom">
              <paper-menu>
                <paper-item on-click="editAction">Edit info</paper-item>
              </paper-menu>
            </paper-dropdown>
          </paper-menu-button>
        </div>
      </div>
    </paper-scroll-header-panel>
  </template>
</dom-module>

<script>

  Polymer({
    is: 'song-section',

    behaviors: [
      GlobalBehavior
    ],

    properties: {
      songTrail: {
        type: Array,
        notify: true,
        value: function() { return []; }
      },
      _songTrailCache: {
        type: Array,
        value: function() { return []; }
      },
      localeDateTime: {
        type: String,
        value: ''
      },
      // do not clear the cache when the songtrail is changed using the fwd or back btns
      _clearCache: {
        type: Boolean,
        value: false
      }
    },

    observers: [
      'globalSongChanged(global.song)'
    ],

    ready: function() {
      this.fs = require('fs');
    },

    // https://github.com/PolymerElements/paper-scroll-header-panel/issues/33
    setupHeaderSize: function() {
      this.$.shp.measureHeaderHeight();
    },

    globalSongChanged: function(song) {
      this.song = song;
      if (!song) {
        this._setCoverImage();
        return;
      }

      var entry = new ss.PlaylistEntry();
      entry.song = song;
      entry.position = this.songTrail.length;
      this.push('songTrail', entry);
      if (this._clearCache) this._songTrailCache = [];
      else this._clearCache = true;

      this.localeDateTime = new Date(this.song.dateAdded).toLocaleString();

      // audio source; use local, otherwise contact google api
      var that = this;
      this.fs.access(this.song.filepath, this.fs.F_OK | this.fs.R_OK, function(err) {
          if (!err) {
            that.$.audio.src = "file://" + that.song.filepath;
            that._setCoverImage(that.song.album.coverFilepath);
          } else {
            that.$.gpm.findSong(that.song,
                function(s) {
                  window.console.log(s);
                  that.$.gpm.findStreamUrl(s.track.nid,
                      function(url) {
                        that.$.audio.src = url;
                      },
                      function(msg, body, err, resp) { console.warn(msg); that.$.audio.src = ''; });
                  if (s.track.albumArtRef && s.track.albumArtRef.length) {
                    that._setCoverImage(s.track.albumArtRef[0].url);
                  } else {
                    that._setCoverImage();
                  }
                },
                function(msg, body, err, resp) {
                  console.warn(msg);
                  that.$.audio.src = '';
                  that._setCoverImage();
                }
              );
          }
        });
    },

    dragSong: function(e) {
      e.dataTransfer.effectAllowed = 'move';
      e.dataTransfer.setData('text/plain', 'extensis-filenames-type:' + this.song.filepath);
    },

    backAction: function(e, detail, sender) {
      var entry = this.pop('songTrail');
      if (!!entry) {
        this.push('_songTrailCache', entry);
      }
      this._clearCache = false;
      if (this.songTrail.length) {
        this.set('global.song', this.pop('songTrail').song);
      } else {
        this.set('global.song', undefined);
      }
    },

    forwardAction: function(e, detail, sender) {
      this._clearCache = false;
      this.set('global.song', this.pop('_songTrailCache').song);
    },

    saveSongTrail: function(e, detail, sender) {
      var playlist = detail.playlist;
      for (var i = 0; i < this.songTrail.length; ++i) {
        var entry = this.songTrail[i];
        entry.playlist = playlist;
        entry.save();
      }
    },

    _setCoverImage: function(img) {
      var url = '';
      if (img) {
        url = 'url("' + img + '")';
      }
      var root = this.$.shp.shadowRoot || this.$.shp;
      root.querySelector('#headerBg').style.backgroundImage = url;
    },

    editAction: function(e, detail, sender) {
      e.stopPropagation();
      this.fire('page-song-edit', {song: this.song});
    },

    stopPropagation: function(e, detail, sender) {
      e.stopPropagation();
    },

    _isArrayEmpty: function(arrayChange) {
      return arrayChange.base.length === 0;
    },
  });
</script>
