:host {
  overflow: hidden;
}

core-scroll-header-panel {
  position: static;
}

#header {
  background-size: cover;
  height: 256px;
}

.content {
  margin: 10px 15px;
}

#nav {
  @apply(--layout-horizontal --layout-justified);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

#nav paper-icon-button[disabled] {
  visibility: hidden;
}

audio {
  height: 30px;
  width: 100%;
}

.vertical {
  @apply(--layout-vertical);
}

.slider {
  @apply(--layout-horizontal --layout-center);
}

.btn {
  @apply(--layout-horizontal --layout-flex);
}

.flex {
  @apply(--layout-flex);
}
