#pageContainer {
  width: 100%;
}

paper-input {
  position: relative;
  width: 240px;
}
paper-input::shadow paper-input-decorator {
  padding: 3px 0;
}
paper-input::shadow paper-input-decorator::shadow .floated-label {
  position: absolute;
  right: 260px;
  top: 14px;
}

paper-checkbox {
  margin: 10px 0;
}

#ratingContainer {
  position: relative;
  padding: 13px 0;
  width: 240px;
}
#ratingContainer .label {
  position: absolute;
  right: 260px;
  top: 15px;
}
.label {
  font-size: 0.75em;
}