<link href="../polymer/polymer.html" rel="import">

<link href="../core-animated-pages/core-animated-pages.html" rel="import">
<link href="../core-drawer-panel/core-drawer-panel.html" rel="import">
<link href="../core-header-panel/core-header-panel.html" rel="import">
<link href="../core-style/core-style.html" rel="import">
<link href="../paper-tabs/paper-tab.html" rel="import">
<link href="../paper-tabs/paper-tabs.html" rel="import">
<link href="../paper-icon-button/paper-icon-button.html" rel="import">

<link href="genre-list.html" rel="import">
<link href="playlist-edit.html" rel="import">
<link href="playlist-list.html" rel="import">
<link href="song-edit.html" rel="import">
<link href="song-list.html" rel="import">
<link href="song-section.html" rel="import">
<link href="search-toolbar.html" rel="import">
<link href="ss-settings.html" rel="import">
<link href="themes.html" rel="import">


<polymer-element name="soul-sifter">

  <template>
    <link href="soul-sifter.css" rel="stylesheet">
    <core-style ref="main"></core-style>

    <div id="soulSifter">
      <core-animated-pages transitions="slide-from-right" selected="{{section}}" id="main">
        <section>
          <core-drawer-panel id="core_drawer_panel">
            <section id="core_drawer_panel-drawer" drawer layout vertical>
              <paper-tabs selected="1" id="paper_tabs">
                <paper-tab id="paper_tab-song">Song</paper-tab>
                <paper-tab id="paper_tab-genres" active>Genres</paper-tab>
                <paper-tab id="paper_tab-playlists">Playlists</paper-tab>
              </paper-tabs>
              <core-animated-pages selected="{{ $.paper_tabs.selected }}" id="core_animated_pages" flex>
                <song-section></song-section>
                <genre-list selection="{{genres}}"></genre-list>
                <playlist-list on-query-change="{{changeQuery}}" on-genre-change="{{updateGenres}}"></playlist-list>
              </core-animated-pages>
            </section>
            <core-header-panel main>
              <search-toolbar query="{{query}}" class="core-header">
                <paper-icon-button icon="menu" onclick="document.querySelector('soul-sifter::shadow core-drawer-panel').togglePanel();"></paper-icon-button>
              </search-toolbar>
              <song-list query="{{query}}" class="content"></song-list>
            </core-header-panel>
          </core-drawer-panel>
        </section>
        <section>
          <playlist-edit playlist="{{playlist}}"></playlist-edit>
        </section>
        <section>
          <song-edit song="{{song}}"></song-edit>
        </section>
        <section>
          <ss-settings></ss-settings>
        </section>
      </core-animated-pages>
    </div>
  </template>

  <script>
    Polymer('soul-sifter', {

      domReady: function() {
        /* theming */
        CoreStyle.g.theme.init();

        /* setup listeners */
        this.addEventListener('page-main', function(e) {
          this.section = 0;
        });
        this.addEventListener('page-playlist-edit', function(e) {
          this.section = 1;
          this.playlist = e.detail.playlist;
        });
        this.addEventListener('page-song-edit', function(e) {
          this.section = 2;
          this.song = e.detail.song;
        });
        this.addEventListener('page-settings', function(e) {
          this.section = 3;
        });
      },

      changeQuery: function(e, detail, sender) {
        this.query = detail;
      },

      updateGenres: function(e, detail, sender) {
        this.genres = detail;
      },

      genresChanged: function(spliceOrOldValue, undefOrNewValue) {
        // The first selection uses a property observer, while subsequent calls use an array observer and calls this method with splice changes rather than the old & new values
        this.asyncFire('core-signal', {name: 'genres-changed', data: this.genres});
      },
    });
  </script>
</polymer-element>