<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../core-animated-pages/core-animated-pages.html" rel="import">
<link href="../paper-drawer-panel/paper-drawer-panel.html" rel="import">
<link href="../paper-header-panel/paper-header-panel.html" rel="import">
<link href="../paper-tabs/paper-tab.html" rel="import">
<link href="../paper-tabs/paper-tabs.html" rel="import">
<link href="../paper-toast/paper-toast.html" rel="import">
<link href="../paper-icon-button/paper-icon-button.html" rel="import">

<link href="genre-list.html" rel="import">
<link href="playlist-edit.html" rel="import">
<link href="playlist-list.html" rel="import">
<link href="song-edit.html" rel="import">
<link href="song-list.html" rel="import">
<link href="song-section.html" rel="import">
<link href="search-toolbar.html" rel="import">
<link href="ss-settings.html" rel="import">


<dom-module id="soul-sifter">
  <style is="custom-style">
    :host {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: var(--ss-soulsifter-color);
      background-color: var(--ss-soulsifter-bg);
    }

    #soulSifter {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }


    /* remove preset colors */
    :host /deep/ input {
      color: inherit;
    }
    :host /deep/ core-field {
      color: inherit;
    }
    :host /deep/ paper-toolbar {
      background-color: inherit;
      font-size: 1em;
    }
    :host /deep/ paper-input {
      color: inherit;
    }

    core-animated-pages#main {
      overflow: hidden;
      height: 100%;
    }

    paper-icon-button {
      position: absolute;
      display: none;
      width: 24px;
      height: 24px;
      font-size: 16px;
      margin: 8px;
    }

    core-drawer-panel[narrow] paper-icon-button {
      display: inline-block
    }

    paper-toast {
      left: auto;
      right: 20px;
    }

    .vertical {
      @apply(--layout-vertical);
    }

    .flex {
      @apply(--layout-flex);
    }
  </style>
  <template>
    <div id="soulSifter">
      <core-animated-pages transitions="slide-from-right" selected="{{section}}" id="main">
        <section>
          <paper-drawer-panel id="core_drawer_panel">
            <section id="core_drawer_panel-drawer" drawer class="vertical">
              <paper-tabs selected="{{selectedTab}}" id="paper_tabs">
                <paper-tab id="paper_tab-song">Song</paper-tab>
                <paper-tab id="paper_tab-genres" active>Genres</paper-tab>
                <paper-tab id="paper_tab-playlists">Playlists</paper-tab>
              </paper-tabs>
              <core-animated-pages selected="{{selectedTab}}" id="core_animated_pages" class="flex">
                <song-section song-trail="{{songTrail}}"></song-section>
                <genre-list selection="{{genres}}"></genre-list>
                <playlist-list on-query-change="{{changeQuery}}" on-genre-change="{{updateGenres}}"></playlist-list>
              </core-animated-pages>
            </section>
            <paper-header-panel main>
              <search-toolbar query="{{query}}" dj-search="{{djSearch}}" class="paper-header">
                <paper-icon-button icon="menu" onclick="document.querySelector('soul-sifter::shadow paper-drawer-panel').togglePanel();"></paper-icon-button>
              </search-toolbar>
              <song-list query="{{query}}" dj-search="{{djSearch}}" song-trail="{{songTrail}}" class="content"></song-list>
            </paper-header-panel>
          </paper-drawer-panel>
        </section>
        <section>
          <playlist-edit playlist="{{playlist}}"></playlist-edit>
        </section>
        <section>
          <song-edit song="{{song}}"></song-edit>
        </section>
        <section>
          <ss-settings></ss-settings>
        </section>
      </core-animated-pages>
      <paper-toast id="toast" text="{{errorText}}" duration="5000" autoCloseDisabled></paper-toast>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'soul-sifter',

    properties: {
      selectedTab: {
        type: Number,
        value: 1
      }
    },

    djSearch: true,

    domReady: function() {
      /* theming */
      CoreStyle.g.theme.init();

      /* setup listeners */
      var that = this;
      this.addEventListener('page-main', function(e) {
        that.section = 0;
      });
      this.addEventListener('page-playlist-edit', function(e) {
        that.section = 1;
        that.playlist = e.detail.playlist;
      });
      this.addEventListener('page-song-edit', function(e) {
        that.section = 2;
        that.song = e.detail.song;
      });
      this.addEventListener('page-settings', function(e) {
        that.section = 3;
      });
      this.addEventListener('error-alert', function(e) {
        console.log(e.detail.msg);
        that.errorText = e.detail.msg;
        that.$.toast.show();
      });
    },

    changeQuery: function(e, detail, sender) {
      this.query = detail;
    },

    updateGenres: function(e, detail, sender) {
      this.genres = detail;
    },

    genresChanged: function(spliceOrOldValue, undefOrNewValue) {
      // The first selection uses a property observer, while subsequent calls use an array observer and calls this method with splice changes rather than the old & new values
      this.asyncFire('iron-signal', {name: 'genres-changed', data: this.genres});
    },
  });
</script>
