<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../core-icon/core-icon.html" rel="import">
<link href="../core-icons/av-icons.html" rel="import">
<link href="../paper-slider/paper-slider.html" rel="import">


<dom-module id="ss-audio">
  <link href="ss-audio.css" rel="import" type="css">
  <template>
    <core-style ref="main"></core-style>

    <div class$="{{computeIsDisabled(disabled)}}">
      <core-icon id="playPause" icon="av:play-arrow" on-click="{{playAction}}"></core-icon>
      <div class="timebar">
        <div id="time" self-end>{{currentTimeStr}}</div>
        <paper-slider id="slider" min="0" max="{{duration}}" value="{{currentTime}}" on-change="{{changeCurrentTime}}" disabled="{{disabled}}"></paper-slider>
      </div>
    </div>
  </template>
</dom-module>

<script>

  Polymer({
    is: 'ss-audio',

    properties: {
      src: {
        type: String,
        observer: 'srcChanged'
      }
    },

    duration: 1,

    currentTime: 0,

    currentTimeStr: '--',

    disabled: true,

    srcChanged: function(newValue, oldValue) {
      this.currentTime = 0;
      if (!newValue) {
        this.disabled = true;
        return;
      }

      this.audio = new Audio(newValue);
      var that = this;
      this.audio.addEventListener('durationchange', function() {
        that.duration = that.audio.duration;
        that.disabled = false;
      });
      this.audio.addEventListener('ended', function() {
        that.$.playPause.icon = 'av:play-arrow';
      });
      this.audio.addEventListener('error', function (mediaError) {
        window.console.log('Audio error: ' + mediaError.code);
        that.currentTimeStr = '--',
        that.disabled = true;
      });
      this.audio.addEventListener('timeupdate', function () {
        that.currentTime = that.audio.currentTime;

        // set the current time in readable string format
        var str = '';
        var time = that.currentTime|0;
        var hours = Math.floor(time / 3600);
        if (hours) str += hours + ':';
        time %= 3600;
        var mins = Math.floor(time / 60);
        if (hours || mins) str += (mins < 10 && hours ? '0' : '') + mins + ':';
        var secs = time % 60;
        str += (secs < 10 && (hours || mins) ? '0' : '') + secs;
        that.currentTimeStr = str;
      });
    },

    playAction: function() {
      if (this.disabled) return;
      if (this.$.playPause.icon === 'av:play-arrow') {
        this.audio.play();
        this.$.playPause.icon = 'av:pause';
      } else {
        this.audio.pause();
        this.$.playPause.icon = 'av:play-arrow';
      }
    },

    changeCurrentTime: function(event, detail, sender) {
      this.audio.currentTime = this.$.slider.immediateValue;
    },

  });

  computeIsDisabled(isDisabled) {
    return (isDisabled ? "disabled " : "") + "horizontal";
  }
</script>
