<link href="../polymer/polymer.html" rel="import">

<link href="../paper-ripple/paper-ripple.html" rel="import">


<dom-module id="ss-options-menu-item">
  <template>
    <custom-style>
      <style>
        :host {
          line-height: 22px;
          margin: 2px;
          position: relative;
          display: block;
          white-space: nowrap;
        }
        :host:hover {
          color: var(--secondary-text-color);
          background-color: var(--ss-options-button-menu-item-hover-color);
        }
      </style>
    </custom-style>
    <slot></slot>
    <paper-ripple></paper-ripple>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'ss-options-menu-item'
  });
</script>
