<link href="../polymer/polymer.html" rel="import">

<link href="../iron-icon/iron-icon.html" rel="import">
<link href="../iron-selector/iron-selector.html" rel="import">


<dom-module id="ss-star-rating">
  <link href="ss-star-rating.css" rel="import" type="css">
  <template>
    <iron-selector selected="{{selectedStar}}" activateEvent="click" id="selector">
      <template is="dom-repeat" items="{{stars}}">
        <iron-icon icon="star-rate" class$="{{computeIsSelected(item, value)}}"></iron-icon>
      </template>
    </iron-selector>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'ss-star-rating',

    properties: {
      count: {
        type: Number,
        value: 5,
        observer: 'countChanged'
      },
      value: {
        type: Number,
        value: 0,
        notify: true
      },
      readOnly: {
        type: Boolean,
        value: false
      }
    },

    ready: function() {
      this.countChanged(0, this.count);
    },

    countChanged: function(newValue, oldValue) {
      this.stars = [];
      for (var i = 0; i < this.count; ++i) {
        this.stars.push(i);
      }
    },

    selectedStarChanged: function(e, detail, sender) {
      if (!this.readOnly) {
        this.value = detail + 1;
      }
    },
  });

  computeIsSelected(item, value) {
    return item < value ? "selected" : "";
  }
</script>
