<link href="../polymer/polymer.html" rel="import">

<link href="../iron-icon/iron-icon.html" rel="import">
<link href="../iron-selector/iron-selector.html" rel="import">


<dom-module id="ss-star-rating">
  <style is="custom-style">
    :host {
      white-space: nowrap;
    }
    iron-icon {
      height: 13px;
      width: 13px;
      color: var(--ss-star-rating-color);
    }
    iron-icon[selected] {
      color: var(--ss-star-rating-selected-color);
    }
  </style>
  <template>
    <iron-selector selected="{{selectedStar}}" activateEvent="[[_activateEvent(readOnly)]]" id="selector">
      <template is="dom-repeat" items="[[stars]]">
        <iron-icon icon="star" selected$="[[_isSelected(item, value)]]"></iron-icon>
      </template>
    </iron-selector>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'ss-star-rating',

    properties: {
      count: {
        type: Number,
        value: 5
      },
      value: {
        type: Number,
        value: 0,
        notify: true
      },
      readOnly: {
        type: Boolean,
        value: false
      },
      stars: {
        type: Array,
        computed: '_computeStars(count)',
        readOnly: true
      }
    },

    _computeStars: function(count) {
      var stars = [];
      for (var i = 0; i < count; ++i) {
        stars.push(i);
      }
      return stars;
    },

    _activateEvent: function(readOnly) {
      return readOnly ? "" : "click";
    },

    _isSelected: function(item, value) {
      return item < value;
    }
  });
</script>
