<link href="../polymer/polymer.html" rel="import">

<link href="../core-style/core-style.html" rel="import">
<link href="../paper-checkbox/paper-checkbox.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">

<link href="themes.html" rel="import">


<polymer-element name="ss-settings">

  <template>
    <link href="ss-settings.css" rel="stylesheet">
    <core-style ref="main"></core-style>

    <abstract-action-page acceptAction="{{save}}">
      <div horizontal layout around-justified id="pageContainer">
        <div vertical layout>
          <paper-input floatingLabel label="Google Music Email" value="{{googleEmail}}"></paper-input>
          <paper-input floatingLabel label="Google Music App Key" value="{{googleAppKey}}"></paper-input>
        </div>
      </div>
    </abstract-action-page>
  </template>

  <script>

    Polymer('ss-settings', {

      created: function() {
        this.settings = new ss.SoulSifterSettings();
        this.googleAppKey = this.settings.getString('google.appKey');
        this.googleEmail = this.settings.getString('google.email');
      },

      save: function(e, detail, sender) {
        this.settings.putString('google.appKey', this.googleAppKey);
        this.settings.putString('google.email', this.googleEmail);
        this.settings.save();
      },
    });
  </script>
</polymer-element>