<link href="../polymer/polymer.html" rel="import">

<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">

<link href="abstract-action-page.html" rel="import">


<dom-module id="ss-settings">
  <style is="custom-style">
    #pageContainer {
      @apply(--layout-horizontal);
      @apply(--layout-around-justified);
      width: 100%;
    }

    paper-input {
      position: relative;
      width: 240px;
    }
    paper-input::shadow paper-input-container {
      padding: 3px 0;
    }
    paper-input /deep/ paper-input-container.paper-input div.label-is-floating label {
      position: absolute;
      left: inherit;
      right: 260px;
      top: 23px;
      white-space: nowrap;
      transform-origin: right top;
    }

    .vertical {
      @apply(--layout-vertical);
    }
  </style>
  <template>
    <abstract-action-page id="abstractActionPage">
      <div id="pageContainer">
        <div class="vertical">
          <paper-input label="Google Music Email" value="{{googleEmail}}"></paper-input>
          <paper-input label="Google Music App Key" value="{{googleAppKey}}"></paper-input>
          <br>
          <paper-input label="Default song list limit" value="{{songListLimit}}" allowedPattern="[0-9]*" preventInvalidInput></paper-input>
        </div>
        <div class="vertical">
          <paper-input label="Database Name" value="{{dbName}}"></paper-input>
          <paper-input label="Database User" value="{{dbUser}}"></paper-input>
          <paper-input label="Database Password" value="{{dbPassword}}"></paper-input>
          <paper-input label="Database URL" value="{{dbUrl}}"></paper-input>
        </div>
      </div>
    </abstract-action-page>
  </template>
</dom-module>

<script>

  Polymer({
    is: 'ss-settings',

    ready: function() {
      this.settings = new ss.SoulSifterSettings();
      this.googleAppKey = this.settings.getString('google.appKey');
      this.googleEmail = this.settings.getString('google.email');
      this.dbName = this.settings.getString('db.name');
      this.dbUser = this.settings.getString('db.user');
      this.dbPassword = this.settings.getString('db.password');
      this.dbUrl = this.settings.getString('db.url');
      this.songListLimit = this.settings.getInt('songList.limit');
    },

    attached: function() {
      // https://www.polymer-project.org/1.0/docs/migration.html#domready
      this.async(function() {
        this.$.abstractActionPage.setAcceptAction(this.save);
      }.bind(this));
    },

    save: function(e, detail, sender) {
      this.puts('google.appKey', this.googleAppKey);
      this.puts('google.email', this.googleEmail);
      this.puts('db.name', this.dbName);
      this.puts('db.user', this.dbUser);
      this.puts('db.password', this.dbPassword);
      this.puts('db.url', this.dbUrl);
      this.puti('songList.limit', this.songListLimit);
      this.settings.save();
    },

    puts: function(key, value) {
      if (!!key && !!value) {
        this.settings.putString(key, value);
      }
    },

    puti: function(key, value) {
      if (!!key && (!!value || value === 0)) {
        this.settings.putInt(key, value);
      }
    },
  });
</script>
