<link href="../polymer/polymer.html" rel="import">

<link href="../core-style/core-style.html" rel="import">


<script>
  var inherit = 'inherit';
  var black = 'black';
  var osx_grey = '#B1B1B1';

  var sl_blue = '#1EC8FA';
  var sl_brown = '#6E330A';
  var sl_green = '#39FF7E';
  var sl_grey = '#292929';
  var sl_orange = '#FDC443';
  var sl_purple = '#AC1AFA';
  CoreStyle.g.scratchlive = {
    // main
    bg: sl_grey,
    clr: '#999999',
    clr_bold: '#CCCCCC',
    // star rating
    sr_clr: '#666',
    sr_selected: '#EEE',
    // paper menu
    pm_bg: '#111',
    pm_bghover: black,
    // paper input
    pi_accent: sl_blue,
    // paper toggle button
    pb_clr: sl_blue,
    // ppaert alert toast
    pt_bg: sl_orange,
    pt_clr: black,
    // abstract actions
    aa_ok: sl_orange,
    // drawer tabs
    dt_bg: '#1F1F1F',
    dt_clr: inherit,
    dt_bar: sl_orange,
    dt_ink: sl_orange,
    // genre list
    gl_ink: sl_orange,
    gl_select: sl_brown,
    // playlist list
    pl_fab: sl_brown,
    // search toolbar
    st_bg: black,
    // pitch slider
    ps_clr: sl_blue,
    ps_bg: '#999',
    // search info
    si_heading: '#CCC',
    si_emphasis: sl_green,
    // song list
    sl_border: '1px solid #2F2F2F',
    sl_hover: 'rgb(20,20,20)',
    sl_fadeout: 'linear-gradient(to right, rgba(41,41,41,0), rgba(41,41,41,1))',
    sl_hoverfadeout: 'linear-gradient(to right, rgba(20,20,20,0), rgba(20,20,20,1))',
    sl_btnborder: '1px solid rgb(20,20,20)',
    sl_btnborderhover: '1px solid #999999',
    // audio
    au_play: '#CCC',
    au_disabled: '#999',
  };
  CoreStyle.g.light = {
    bg: '#EEE',
    clr: '#777',
    clr_bold: '#000',
    // drawer tabs
    dt_bg: 'rgb(0, 188, 212)',
    dt_clr: '#FFF',
    // search toolbar
    st_bg: '#E56FF2',
    // song list
  };
  CoreStyle.g.theme = CoreStyle.g.scratchlive;
</script>

<script>
  CoreStyle.g.theme.init = function() {
    CoreStyle.g.paperInput.labelColor = CoreStyle.g.theme.clr;
    CoreStyle.g.paperInput.focusedColor = CoreStyle.g.theme.pi_accent;
  };
</script>

<core-style id="main">
  <!-- main -->
  #soulSifter {
    color: {{g.theme.clr}};
    background-color: {{g.theme.bg}};
  }

  <!-- star rating -->
  ss-star-rating::shadow core-icon {
    color: {{g.theme.sr_clr}};
  }
  ss-star-rating::shadow core-icon.selected {
    color: {{g.theme.sr_selected}};
  }

  <!-- paper menus -->
  paper-menu-button paper-dropdown::shadow #background {
    background-color: {{g.theme.pm_bg}};
  }
  paper-menu-button paper-dropdown core-menu {
    margin: 0;
  }
  paper-menu-button paper-dropdown core-menu paper-item {
    font-size: 1em;
  }
  paper-menu-button paper-dropdown core-menu paper-item:hover {
    background-color: {{g.theme.pm_bghover}};
  }

  <!-- paper input -->
  section /deep/ paper-input::shadow .focused-underline {
    background-color: {{g.theme.pi_accent}};
  }
  section /deep/ paper-input[focused]::shadow .floated-label {
    color: {{g.theme.pi_accent}};
  }

  <!-- paper toggle button -->
  paper-toggle-button::shadow [checked] .toggle-ink {
    color: {{g.theme.pb_clr}};
  }
  paper-toggle-button::shadow [checked] .toggle {
    background-color: {{g.theme.pb_clr}};
  }

  <!-- paper toast (alert) -->
  paper-toast {
    background-color: {{g.theme.pt_bg}};
    color: {{g.theme.pt_clr}};
  }

  <!-- abstract actions -->
  #abstractActions paper-button {
    color: {{g.theme.clr}};
  }
  #abstractActions paper-button[autofocus] {
    color: {{g.theme.aa_ok}};
  }

  <!-- drawer tabs -->
  paper-tabs {
    background-color: {{g.theme.dt_bg}};
    color: {{g.theme.dt_clr}};
  }
  paper-tabs::shadow #selectionBar {
    background-color: {{g.theme.dt_bar}};
  }
  paper-tab::shadow #ink {
    color: {{g.theme.dt_ink}};
  }

  <!-- genre list -->
  genre-list-item::shadow #item.selected {
    background-color: {{g.theme.gl_select}};
  }
  genre-list-item::shadow paper-ripple {
    color: {{g.theme.gl_ink}};
  }

  <!-- playlist list -->
  paper-fab {
    background-color: {{g.theme.pl_fab}};
    color: {{g.theme.clr_bold}};
  }
  playlist-list-item::shadow #item.selected {
    background-color: {{g.theme.gl_select}};
  }
  playlist-list-item::shadow paper-ripple {
    color: {{g.theme.gl_ink}};
  }

  <!-- search toolbar -->
  search-toolbar {
    background-color: {{g.theme.st_bg}};
  }
  #searchInput {
    color: {{g.theme.clr_bold}};
  }
  #searchInput::shadow input::-webkit-input-placeholder {
    color: {{g.theme.clr}};
  }

  <!-- pitch slider -->
  paper-slider::shadow #sliderBar::shadow #activeProgress {
    background-color: {{g.theme.ps_clr}};
  }
  paper-slider::shadow #sliderKnobInner {
    background-color: {{g.theme.ps_clr}};
  }
  paper-slider::shadow #sliderKnobInner::before {
    background-color: {{g.theme.ps_clr}};
  }
  paper-slider::shadow #sliderBar::shadow #secondaryProgress {
    background-color: {{g.theme.ps_bg}};
  }
  paper-slider::shadow #sliderBar::shadow #progressContainer {
    background-color: {{g.theme.ps_bg}};
  }

  <!-- song list -->
  .song-item {
    border-bottom: {{g.theme.sl_border}};
  }
  .song-item:hover {
    background-color: {{g.theme.sl_hover}};
  }
  .song-item .artist {
    color: {{g.theme.clr}};
  }
  .song-item .title {
    color: {{g.theme.clr_bold}};
  }
  .song-item .fade-out:after {
    background: {{g.theme.sl_fadeout}};
  }
  .song-item:hover .fade-out:after {
    background: {{g.theme.sl_hoverfadeout}};
  }
  .song-item paper-menu-button paper-icon-button {
    border: {{g.theme.sl_btnborder}};
  }
  .song-item paper-menu-button paper-icon-button:hover {
    border: {{g.theme.sl_btnborderhover}};
  }

  <!-- song section -->
  .title {
    color: {{g.theme.clr_bold}};
  }
  core-scroll-header-panel::shadow #condensedHeaderBg {
    background-color: {{g.theme.pm_bg}};
  }

  <!-- search info -->
  .heading {
    color: {{g.theme.si_heading}};
  }
  .emphasis {
    color: {{g.theme.si_emphasis}};
  }
  .text {
    color: {{g.theme.clr}};
  }

  <!-- audio -->
  ss-audio::shadow core-icon {
    color: {{g.theme.au_play}};
  }
  ss-audio::shadow .disabled core-icon {
    color: {{g.theme.au_disabled}};
  }
</core-style>